<div class="wrapper">
		<!-- Checkbox to toggle the menu -->
		<input type="checkbox" id="tm" />
		<!-- The menu -->

		<nav class="sidenav">
			<ul>
				<li>
					<a href="#"><span>Shop</span></a>
				</li>
				<li>
					<a href="#"><span>Vendors</span></a>
				</li>
				<li class="global-logo">
					<a href="#">NWA Made</a>
				</li>
				<li>
					<a href="#"><span>About</span></a>
				</li>
				<li>
					<a href="#"><span>Contact</span></a>
				</li>
			</ul>
		</nav>

		<!-- Content area -->
		<section class="global-wrap">
			<!-- Label for #tm checkbox -->
			<label for="tm"><span>menu</span></label>
		</section>

</div>

<style>

$darkPrimaryColor:   #00796B;
$primaryColor:       #009688;
$lightPrimaryColor:  #B2DFDB;
$textPrimaryColor:   #FFFFFF;
$accentColor:        #536DFE;
$primaryTextColor:   #212121;
$secondaryTextColor: #727272;
$dividerColor:       #B6B6B6;
$barColor:           #ffffff;


* {margin: 0; padding: 0;}

html, body {
  width: 100%;
  height: 100%;
}

body {
	margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rebeccapurple;
}

.mobile {
	float: left;
  position: relative;
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

/*Hiding the checkbox*/
#tm {display: none;}
/*Content area*/
.mobile section {
	background: url("http://www.stockazoo.com/uploads/3/5/4/5/3545172/100037_bryce.jpg");
  background-color: #303F9F;
	width: 285px;
  height: 500px;
	position: relative;
  transition: all 0.25s;
}
.mobile section label {
  outline: none;
	color: rgb(0,128,128);
  font: bold 14px Roboto;
  text-align: center;
	border: 2px solid rgb(0,128,128);
  border-radius: 4px;
	display: block;
  padding: 10px 0;
	width: 25%;
  position: absolute;
  left: 20%; top: 100px;
	cursor: pointer;
  text-transform: uppercase;
  transition: all 0.4s ease;
  &:after{
    content: '';
    width: 5px;
    height: 10px;
    background-color: salmon;
  }
}

nav {
	position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: red;
}

/*Nav styles*/
.sidenav {
	background: rgb(0,128,128);
  width: 150px;
	position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding-top: 100px;
}
.sidenav li {
  list-style-type: none;
  transition: all .5s;
}
.sidenav li:hover {
  background: rgb(255,87,34);
}
.sidenav a { 
  color: rgb(255,255,255);
  text-decoration: none;
}
.sidenav span {
	font: bold 12px/48px Roboto;
  display: block;
	opacity: 0;
  transform: translateX(50px);
  transition: all 0.4s;
}
.sidenav i {
	display: block; width: 50px; float: left; 
	font-size: 16px; line-height: 48px; text-align: center;
}
/*Animation controls using checkbox hack*/
/*Animate content area to the right*/
.global-wrap {
  transform-origin: right;
  transition: all 0.4s; 

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

#tm:checked ~ .global-wrap {
  transform: translateX(150px);
}

/*Animate links from right to left + fade in effect*/
#tm:checked ~ .sidenav span {
  opacity: 1;
  transform: translateX(0);
}
#tm:checked ~ .global-wrap label {
  width: 30%;
  border-radius: 40%;
  width: 10%;
  span{
    display: none;
  }
}
#tm:checked ~ .global-wrap label i {
  margin-left: -10%;
  transform: rotate(180deg);
}
/*Adding delay to link animation - in multiples of .08s*/
/*One can use jQuery also for creating the delayed effect. But I will stick to manual CSS for this walkthrough.*/
#tm:checked ~ .sidenav li:nth-child(1) span {transition-delay: 0.08s;}
#tm:checked ~ .sidenav li:nth-child(2) span {transition-delay: 0.16s;}
#tm:checked ~ .sidenav li:nth-child(3) span {transition-delay: 0.24s;}
#tm:checked ~ .sidenav li:nth-child(4) span {transition-delay: 0.32s;}
#tm:checked ~ .sidenav li:nth-child(5) span {transition-delay: 0.40s;}


</style>