<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="profile" href="http://gmpg.org/xfn/11">
<link rel="pingback" href="http://nwamade.com/xmlrpc.php">

<title>Test Product One – NWA Made</title>
<meta name="robots" content="noindex,follow">
<link rel="alternate" type="application/rss+xml" title="NWA Made » Feed" href="http://nwamade.com/feed/">
<link rel="alternate" type="application/rss+xml" title="NWA Made » Comments Feed" href="http://nwamade.com/comments/feed/">
<link rel="alternate" type="application/rss+xml" title="NWA Made » Test Product One Comments Feed" href="http://nwamade.com/product/test-product-one/feed/">
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/nwamade.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.2"}};
			!function(a,b,c){function d(a){var c,d,e,f=b.createElement("canvas"),g=f.getContext&&f.getContext("2d"),h=String.fromCharCode;if(!g||!g.fillText)return!1;switch(g.textBaseline="top",g.font="600 32px Arial",a){case"flag":return g.fillText(h(55356,56806,55356,56826),0,0),f.toDataURL().length>3e3;case"diversity":return g.fillText(h(55356,57221),0,0),c=g.getImageData(16,16,1,1).data,d=c[0]+","+c[1]+","+c[2]+","+c[3],g.fillText(h(55356,57221,55356,57343),0,0),c=g.getImageData(16,16,1,1).data,e=c[0]+","+c[1]+","+c[2]+","+c[3],d!==e;case"simple":return g.fillText(h(55357,56835),0,0),0!==g.getImageData(16,16,1,1).data[0];case"unicode8":return g.fillText(h(55356,57135),0,0),0!==g.getImageData(16,16,1,1).data[0]}return!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i;for(i=Array("simple","flag","unicode8","diversity"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script><script src="http://nwamade.com/wp-includes/js/wp-emoji-release.min.js?ver=4.5.2" type="text/javascript"></script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel="stylesheet" id="open-sans-css" href="https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&amp;subset=latin%2Clatin-ext&amp;ver=4.5.2" type="text/css" media="all">
<link rel="stylesheet" id="dashicons-css" href="http://nwamade.com/wp-includes/css/dashicons.min.css?ver=4.5.2" type="text/css" media="all">
<link rel="stylesheet" id="admin-bar-css" href="http://nwamade.com/wp-includes/css/admin-bar.min.css?ver=4.5.2" type="text/css" media="all">
<link rel="stylesheet" id="woocommerce_prettyPhoto_css-css" href="//nwamade.com/wp-content/plugins/woocommerce/assets/css/prettyPhoto.css?ver=2.5.5" type="text/css" media="all">
<link rel="stylesheet" id="shop-isle-css" href="http://nwamade.com/wp-content/themes/shop-isle/style.css?ver=4.5.2" type="text/css" media="all">
<link rel="stylesheet" id="shop-isle-bootstrap-css" href="http://nwamade.com/wp-content/themes/shop-isle/assets/bootstrap/css/bootstrap.min.css?ver=20120206" type="text/css" media="all">
<link rel="stylesheet" id="shop-isle-magnific-popup-css" href="http://nwamade.com/wp-content/themes/shop-isle/assets/css/magnific-popup.css?ver=20120206" type="text/css" media="all">
<link rel="stylesheet" id="shop-isle-flexslider-css" href="http://nwamade.com/wp-content/themes/shop-isle/assets/css/flexslider.css?ver=20120206" type="text/css" media="all">
<link rel="stylesheet" id="shop-isle-owl-carousel-css" href="http://nwamade.com/wp-content/themes/shop-isle/assets/css/owl.carousel.css?ver=20120206" type="text/css" media="all">
<link rel="stylesheet" id="shop-isle-animate-css" href="http://nwamade.com/wp-content/themes/shop-isle/assets/css/animate.css?ver=20120206" type="text/css" media="all">
<link rel="stylesheet" id="shop-isle-main-style-css" href="http://nwamade.com/wp-content/themes/shop-isle/assets/css/style.css?ver=20120206" type="text/css" media="all">
<link rel="stylesheet" id="shop-isle-style-css" href="http://nwamade.com/wp-content/themes/nwamade/style.css?ver=1.0.0" type="text/css" media="all">
<link rel="stylesheet" id="product_css-css" href="//nwamade.com/wp-content/plugins/dc-woocommerce-multi-vendor/assets/frontend/css/product.min.css?ver=2.3.6" type="text/css" media="all">
<style id="product_css-inline-css" type="text/css">

                .by-vendor-name-link:hover{
                        color: #000000 !important;
                }
                .by-vendor-name-link{
                        color: #000000 !important;
                }
</style>
<link rel="stylesheet" id="shop-isle-woocommerce-style1-css" href="http://nwamade.com/wp-content/themes/shop-isle/inc/woocommerce/css/woocommerce.css?ver=v3" type="text/css" media="all">
<script type="text/javascript" src="http://nwamade.com/wp-includes/js/jquery/jquery.js?ver=1.12.3"></script>
<script type="text/javascript" src="http://nwamade.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.0"></script>
<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false&amp;language=en&amp;ver=4.5.2"></script>
<script type="text/javascript" src="//nwamade.com/wp-content/plugins/dc-woocommerce-multi-vendor/assets/frontend/js/gmap3.min.js?ver=6.0.0"></script>
<link rel="https://api.w.org/" href="http://nwamade.com/wp-json/">
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://nwamade.com/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://nwamade.com/wp-includes/wlwmanifest.xml"> 
<meta name="generator" content="WordPress 4.5.2">
<meta name="generator" content="WooCommerce 2.5.5">
<link rel="canonical" href="http://nwamade.com/product/test-product-one/">
<link rel="shortlink" href="http://nwamade.com/?p=55">
<link rel="alternate" type="application/json+oembed" href="http://nwamade.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fnwamade.com%2Fproduct%2Ftest-product-one%2F">
<link rel="alternate" type="text/xml+oembed" href="http://nwamade.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fnwamade.com%2Fproduct%2Ftest-product-one%2F&amp;format=xml">
<link rel="alternate" type="application/rss+xml" title="New products" href="http://nwamade.com/shop/feed/"><style type="text/css" media="print">#wpadminbar { display:none; }</style>
<style type="text/css" media="screen">
	html { margin-top: 32px !important; }
	* html body { margin-top: 32px !important; }
	@media screen and ( max-width: 782px ) {
		html { margin-top: 46px !important; }
		* html body { margin-top: 46px !important; }
	}
</style>

<link href="nwa_style.css" rel="stylesheet" type="text/css">

<style id="fit-vids-style">.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}</style><script type="text/javascript" charset="UTF-8" src="http://maps.google.com/maps-api-v3/api/js/24/11a/common.js"></script><script type="text/javascript" charset="UTF-8" src="http://maps.google.com/maps-api-v3/api/js/24/11a/util.js"></script><script type="text/javascript" charset="UTF-8" src="http://maps.google.com/maps-api-v3/api/js/24/11a/stats.js"></script></head>

<body>



	<!-- Wrapper - Wraps the full site | Used for the off canvas nav -->
	<div class="wrapper">

		<!-- Checkbox to toggle the menu -->
		<input type="checkbox" id="tm" />


		<!-- nav -->
		<nav class="sidenav">
			<ul>
				<li>
					<a href="#"><span>Shop</span></a>
				</li>
				<li>
					<a href="#"><span>Vendors</span></a>
				</li>
				<li class="global-logo">
					<a href="#">
						<h1 class="global-logo-d brand">NWA Made</h1>
					</a>
				</li>
				<li>
					<a href="#"><span>About</span></a>
				</li>
				<li>
					<a href="#"><span>Contact</span></a>
				</li>
			</ul>
		</nav>
		<!-- nav ! -->



		<!-- Content Area | Start the Site -->
		<section class="global-wrap">

			<!-- Label for #tm checkbox -->
			<div class="global-header m">
				<label for="tm" class="m-nav-trigger">
					<span>menu</span>
				</label>
				<h1 class="global-logo-d brand">NWA Made | NorthWest Arkansas | Makers Designers Artists Entrepreneurs</h1>
			</div>

			<section class="space a"></section>
			<section class="space b"></section>
			<section class="space a"></section>
			<section class="space b"></section>
			<section class="space a"></section>

		</section>
		<!-- Content Area ! -->


	</div>
	<!-- Wrapper ! -->


</body>