$darkPrimaryColor:   #00796B;
$primaryColor:       #009688;
$lightPrimaryColor:  #B2DFDB;
$textPrimaryColor:   #FFFFFF;
$accentColor:        #536DFE;
$primaryTextColor:   #212121;
$secondaryTextColor: #727272;
$dividerColor:       #B6B6B6;
$barColor:           #ffffff;

/*Hiding the checkbox*/
#tm {display: none;}

nav {
	position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: red;

  ul {
    margin: 0;
  }
}

/*Nav styles*/
.sidenav {
	background-color: $bg-gray;
  width: 70%;
	position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding-top: 100px;
}

.sidenav li {
  list-style-type: none;
  transition: all .5s;
}

.sidenav li:hover {
  background: rgb(255,87,34);
}

.sidenav a { 
  color: $body-copy;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 0px 10px 20px;
  display: block;
}

.sidenav span {
  display: block;
	opacity: 0;
  transform: translateX(50px);
  transition: all 0.4s;
}

.sidenav i {
	display: block; width: 50px; float: left; 
	font-size: 16px; line-height: 48px; text-align: center;
}

/*Animation controls using checkbox hack*/
/*Animate content area to the right*/
.global-wrap {
  transform-origin: right;
  transition: all 0.4s; 

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.m-nav-trigger {
  display: block;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: red;
}

#tm:checked ~ .global-wrap {
  transform: translateX(70%);
  position: fixed;
}

/*Animate links from right to left + fade in effect*/
#tm:checked ~ .sidenav span {
  opacity: 1;
  transform: translateX(0);
}
/*#tm:checked ~ .global-wrap label {
  width: 30%;
  width: 10%;
}
#tm:checked ~ .global-wrap label i {
  margin-left: -10%;
  transform: rotate(180deg);
}*/
/*Adding delay to link animation - in multiples of .08s*/
/*One can use jQuery also for creating the delayed effect. But I will stick to manual CSS for this walkthrough.*/
#tm:checked ~ .sidenav li:nth-child(1) span {transition-delay: 0.08s;}
#tm:checked ~ .sidenav li:nth-child(2) span {transition-delay: 0.16s;}
#tm:checked ~ .sidenav li:nth-child(3) span {transition-delay: 0.24s;}
#tm:checked ~ .sidenav li:nth-child(4) span {transition-delay: 0.32s;}
#tm:checked ~ .sidenav li:nth-child(5) span {transition-delay: 0.40s;}