@charset 'UTF-8';

/* 

	============================================
	
	TO DO LIST
	============================================

	HOME
	--------------------------------------------
		X | the full height class form the slider


	GLOBAL
	--------------------------------------------
		X | scroll js 
		Header
		Footer

	LADNING PAGES ?
	--------------------------------------------

	SHOP
	--------------------------------------------

	PDP
	--------------------------------------------

	BLOG
	--------------------------------------------

	VENDOR
	--------------------------------------------

*/

// Colors |=============================================

// Colors
$gold: #B89A50;
$icon-gray: #CBC7C2;

// Backgrounds
$bg-gray: #F8F8F8;
$bg-gold: $gold;

$body-copy: #9F9F9F;


// Misc Vars |=============================================

$border-gray: 1px solid #eaeaea;



$site-img: 'http://nwamade.com/wp-content/themes/nwamade/inc/img/';
$home-vendor-logo: $site-img + 'featured-vendor-logo.png';


// Imports |=============================================

@import "fonts.scss"; // fonts
@import "slick.scss"; // slider

// remove this before production | used only for testing
@import "testing.scss";

//@import "nav.scss";



// Backgrounds |=============================================

.bg-gray {
	background-color: $bg-gray;
}

.bg-gold {
	background-color: $gold;
}

.bg-body-copy {
	background-color: $body-copy;
}


// Colors |=============================================

.gold {
	color: $gold;
}

.body-copy {
	color: $body-copy;
}

// Helpers |=============================================

// hiders
.hide-el {
	display: none;
}

.hide-text {
	display: inline-block;
	overflow: hidden;
	text-indent: -999999999%;
}


// positions
.pos-rel {
	position: relative;
}

.pos-abs,
.pos-abs-left,
.pos-abs-right {
	position: absolute;
}

.pos-abs-left {
	left: 0px;
}

.pos-abs-right {
	right: 0px;
}

// widths
.w-100 {
	width: 100%
}


// Base |=============================================

* {
	margin: 0; 
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'montserratregular';
}

.wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	background: rebeccapurple;
}


// Type |=============================================

h1, 
h2,
h3,
h4,
h5,
h6,
.module-title,
.shop-item-title,
.btn,
.btn-b,
.navbar-custom,
.product_title,
.entry-title,
.amount,
.price,
input[type="submit"],
button[type="submit"],
#comments input[type="submit"],
.description_tab,
.description_tab a,
nav a,
input,
.search-field,
.font-alt,
.woocommerce-ordering select,
.shop-item,
.woocommerce-tabs ul.tabs li a,
tr.cart_item td.product-name a {
	font-family: 'NeutraText-Demi' !important;
}

// Buttons |=============================================

.btn,
.btn.btn-b,
.btn.btn-round,
.btn.btn-border-w,
#comments input[type="submit"], 
button[type="submit"] {
	@extend .bg-gold;
	border-radius: 0;
	border: none;
	font-size: 14px;
    letter-spacing: 3px;
    padding: 19px 40px 15px;
}

.btn {
	color: #fff !important;
}

.button
.button .wc-backward,
#reviews form input[type="submit"],
form input[type="submit"],
table.cart td.actions input[name="apply_coupon"],
table.cart td.actions input[name="update_cart"],
.wc-proceed-to-checkout .button.checkout-button {
	@extend .btn;
	text-transform: uppercase !important;
}

table.cart td.actions input[name="apply_coupon"],
table.cart td.actions input[name="update_cart"],
.wc-proceed-to-checkout .button.checkout-button {
	font-size: 12px;
	padding: 12px 25px 8px;
}

table.cart td.actions input[name="coupon_code"] {
	// min-width: 260px;
	width: 100%;
	height: 41px;
    margin-top: 0px;
    margin-right: 9px;
    border-radius: 0 !important;
    float: left;
    letter-spacing: 0px;
    margin-bottom: 15px;
}

#reviews form input[type="submit"] {
	padding: 19px 40px 30px;
}

tr.cart_item td.product-name a {
	color: $gold;
}

#reviews p.comment-form-comment textarea,
textarea,
table.cart td.actions input[name="coupon_code"] {
	font-family: 'montserratregular' !important;
}

a.wc-backward {
	@extend .btn;
}



.product .product-button-wrap .add_to_cart_button, 
ul.products li.product .product-button-wrap .button.product_type_simple, 
.shop-item .product-button-wrap .add_to_cart_button {
	font-family: 'NeutraText-Demi' !important;
	@extend .bg-gold;
	border-radius: 0;
	border: none;
	font-size: 11px;
    letter-spacing: 2px;
    padding: 19px 24px 15px;
}



// Slabs |=============================================

.slab-img {
	width: 100%;
	min-height: 250px;
	background-color: red;
}

.slab {
	padding: 20px 20px;
}

// we need to make this into a class
.slab {
	text-align: center;
}

.slab .btn {
	margin-bottom: 40px;
}


// Layouts |=============================================

.text-center-block {
	max-width: 525px;
	margin: 0 auto;
	display: block;
	text-align: center;
}

// Globals |=============================================

// logo
.global-logo {
	display: none;
/*	width: 100px;
	height: 40px;
	background-color: red;
	position: absolute;
	z-index: 100000;
	top: 0px;
	left: 50%;
	margin-left: -50px;*/
}

.global-header {
	background: #000;
	height: 50px;
	width: 100%;
	overflow: hidden;
	position: fixed;
	top: 0px;
	left: 0px;
}

// site logo
.site-title a {
	display: block;
	width: 200px;
	height: 50px;
	overflow: hidden;
	text-indent: -9999999999%;
	background: transparent url('http://nwamade.com/wp-content/uploads/2016/05/nwa-made-logo.png') no-repeat center center;
	background-size: 175px 30px;
}

// nav bar after scroll
.navbar {
	background-color: #fff;
	padding: 10px 0;
	transition: background-color .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
}

// .navbar-nav > li:last-child {
// 	background-color: $gold;
// 	border-radius: 8px;
// }

// page navbar
.navbar-custom,
.page .navbar-custom {
	background-color: #fff !important;
	border-bottom: $border-gray;
}

.navbar-custom .nav li > a {
	color: $body-copy;
}

// .navbar-custom .nav li a:hover {
// 	color: $gold !important;
// }

// search trigger | icon
.header-search {
	position: absolute;
    top: 24px;
    left: 424px;
}

// search wrap
.header-search-input {
    width: 100%;
    position: fixed;
    height: 100%;
    top: 0px;
    background: rgba(255, 255, 255, 1);
    padding-top: 100px;
    z-index: 1;
}

// search form
.header-search-input form.woocommerce-product-search {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
}

// input
.header-search-input input[type="search"] {
	width: 100%;
	max-width: 1140px;
	background-color: transparent;
	padding: 30px 0px 20px;
	color: #fff;
	font-size: 70px;
	border-bottom: solid 3px rgba(0, 0, 0, 0.2);
	color: $body-copy;
}

// submit search
.header-search-input input[type=submit] {
    background: #ccc;
    position: absolute;
    top: 0px;
    right: 40px;
    overflow: hidden;
    height: 100px;
    width: 100px;
    color: red;
    background-image: url();
}


// crat wrap
.navbar-cart-inner {
	position: absolute;
    top: 28px;
    right: 10px;
}

// cart icon 
.navbar-cart-inner .icon-basket {
	color: $icon-gray;
}

// header icon hovers
.navbar-cart-inner:hover .icon-basket,
.header-search:hover .header-search-button {
	color: $gold !important;
	opacity: 1;
}


// cart number
.navbar-cart-inner .cart-item-number {
    background: transparent;
    color: gray;
    font-size: 16px;
    position: absolute;
    left: -14px;
    top: 0px;
}

.woocommerce-breadcrumb {
	text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    position: absolute;
    top: 71px;
    left: 0px;
    width: 100%;
    padding-left: 20px;
    background-color: #fff;
    border-bottom: $border-gray;
    padding-top: 3px;
    text-align: center;
    font-family: 'NeutraText-Demi' !important;
}



// cat bread crumb page
.archive .woocommerce-breadcrumb {
	top: 0px !important;
}

// x back to top
.scroll-up {
	opacity: 0 !important;
}

// Home |=============================================


.home-product-slider {
	border-top: $border-gray;
}

.slick-slider {
	top: -20px;
}

// home sub title (EXCLUSIVE PRODUCTS sub title)
.home .module-title + .module-subtitle,
.module-title + .module-subtitle {
	margin-top: -75px;
}

//--- banner touts
.content-box-image a {
	width: 100%;
    display: block;
}

.content-box-image img {
	width: 100%;
}

//--- slider
.slick-slide img {
	width: 100%;
}

.main.front-page-main {
	margin-top: -45px !important;
}

.slick-arrow {
	display: block;
    background: red;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    z-index: 1;
}

.slick-next {
	right: 20px;
}

.slick-prev {
	left: 20px;
}


.slick-next::before,
.slick-prev::before {
	display: none;
}

.slick-prev, 
.slick-prev:hover, 
.slick-prev:focus {
    left: 10px;
    background: #fff url($site-img + 'arrow-left.svg') no-repeat 5px 6px;
    width: 40px;
    height: 40px;
}

.slick-next, 
.slick-next:hover, 
.slick-next:focus {
    right: 10px;
    background: #fff url($site-img + 'arrow-right.svg') no-repeat 5px 6px;
    width: 40px;
    height: 40px;
}


// copy in the hero
.hero-copy-wrap {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #fff;
    width: 40%;
    padding-top: 13%;
}

// sub title
.hero-sub-title {
	text-transform: uppercase;
	color: #848484;
}

// headline
.hero-headline {
	text-transform: uppercase;
	color: $gold;
}

// button in the hero
.hero-btn {
	color: #fff;
}

//--- slider !

.navbar-cart-inner .cart-item-number {
	font-family: 'NeutraText-Demi' !important;
}




.home-vendor-logo {
	display: block;
	overflow: hidden;
	width: 200px;
	height: 120px;
	text-indent: -9999999px;
	margin: 0 auto;
	background: transparent url($home-vendor-logo) no-repeat center center;
	background-size: 200px 200px;
}

.home-featured-vendor-wrap {
	padding: 70px 0 50px;
}

.home-featured-vendor-wrap p {
	padding-bottom: 30px;
}


.module-subtitle.font-serif.home-prod-subtitle,
.module-subtitle.font-serif {
	display: none;
}




//----------------- featured vendor




// Shop |=============================================


// check out billing feild
.woocommerce-billing-fields,
#ship-to-different-address,
#order_review_heading {
	text-transform: uppercase;
}

// kill padding on order form header
#order_review_heading {
	padding: 0;
    margin-bottom: 20px;
}

// Cart | Checkout center the header copy
.module-cart-top .col-sm-offset-1 {
	margin-left: 0;
}

// invild form *** Change this
.form-row.woocommerce-invalid input.input-text {
	background-color: red;
}

// transparent product tout
.ex-product {
	opacity: 1;
}

.shop-item,
.ex-product {
	padding-bottom: 20px;
	font-size: 18px;
    font-weight: 800;
    color: $gold;
    letter-spacing: 3px;
}

// product shop items title
.shop-item-title h4 {
	text-align: left;
}

.shop-item:hover .shop-item-image {
	opacity: 1;
}

// cat shop page
li.product a {
	display: inline-block;
	padding-bottom: 20px;
}

.quantity .qty {
	height: 45px;
	font-size: 16px;
}

.single-product div.product .summary,
.single-product div.product .images {
	padding-top: 50px;
}

.onsale,
.product-main-content .onsale {
	text-transform: uppercase;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 50%;
}

.onsale {
	top: 10px;
	right: 25px;
}

.product-main-content .onsale {
	top: 50px;
}

.woocommerce.single-product .price ins .amount {
	color: $gold;
}

.sku_wrapper {
	display: none;
}

.module-cart-top .module-title.font-alt {
	text-align: left;
    margin-bottom: 10px;
}

// pagination - center
.page-numbers {
	text-align: center;
}

.pagination a, 
.woocommerce-pagination ul.page-numbers li a, 
.woocommerce-pagination ul.page-numbers li span,
.woocommerce-pagination ul.page-numbers li a.page-numbers.current,
.woocommerce-pagination ul.page-numbers li span.page-numbers.current {
	padding: 12px 14px;
}


.woocommerce-pagination ul.page-numbers li a.page-numbers.current,
.woocommerce-pagination ul.page-numbers li span.page-numbers.current {
	padding: 8px 14px 11px;
	border-color: $gold;
	background-color: $gold;
	color: #fff;
}


.woocommerce.single-product .related.products, 
.woocommerce.single-product .upsells.products {
	padding-top: 0;
}

.single-product .module-small-bottom {
	padding-top: 0px;
	border-top: $border-gray;
}

.single-product .module-small-bottom {
	background-color: $bg-gray;
	border-top: none;
}

.posted_in a,
.tagged_as a {
	color: $gold;
	text-transform: uppercase;
    letter-spacing: 2px;
}

// report abuse btn
#report_abuse {
	position: absolute;
    top: 0px;
    right: 0px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: .4;
}

// kill the background popup - cant get this z index edited
.simplePopupBackground {
	display: none !important;
}

// #report_abuse_form::before {
// 	content: "";
// 	position: absolute;
// 	display: block;
// 	width: 200px;
// 	height: 200px;
// 	background-color: red;
// 	top: 20px;
// 	left: 20px;
// }


.simplePopup {
	position: fixed;
	min-width: 0px;
    max-width: 500px;
    margin-left: -250px;
    left: 50% !important;
}

.by-vendor-name-link {
	background-color: $gold !important;
	color: #fff !important;
	padding-top: 8px !important;
    padding-bottom: 9px !important;
}

.by-vendor-name-link:hover {
	color: #fff !important;
}

ul.products li.product:hover img {
	opacity: 1 !important;
}


// report abuse from

// extended |=============================================

.product-rating-home,
// header search (open) icon 
.header-search-input:after,
.single-product .divider-w,
.divider-w,
.site-description,
.shop-item:hover .shop-item-image:after,
.sku,
ul.products li.product .button.product_type_simple {
	@extend .hide-el;
}

.home-banners,
.shop-item,
.owl-item,
.single-product .module-super-small,
.post-type-archive-product .products li > a,
li.product a  {
	// @extend .bg-gray;
}

.home-banners,
.single-product .module-super-small {
	@extend .bg-gray;
}

.module-title {
	@extend .gold;
}



// PDP |=============================================



//--- tabs

.woocommerce-tabs ul.tabs.wc-tabs {
	margin: 0;
	border-bottom: none;
}


.woocommerce-tabs ul.tabs li a,
.woocommerce-tabs ul.tabs li.active a {
	border: none;
}

.woocommerce-tabs ul.tabs li.active a:hover {
	border: none !important;
}

.panel.entry-content.wc-tab {
	padding: 30px;
}

// make the vendor link a button
.product-vendor a {

}


.woocommerce-tabs .panel h2 {
	color: $gold;
	font-size: 20px;
	padding-bottom: 0px;
}

.related.products h2, .upsells.products h2 {
	color: $gold;
	font-size: 26px;
}

.related.products ul.products {
	padding-top: 30px
}

// Forms |=============================================

.woocommerce-ordering {
	width: 100%;
    text-align: center;
}

.woocommerce-ordering select {
	border-radius: 0 !important;
	-webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
}


// about page
.page-id-39 .main section.page-header-module {
	background-image: url('http://nwamade.com/wp-content/themes/nwamade/inc/slider-images/slider-test-image.jpg') no-repeat center center !important;
}


// review form 
#reviews p.comment-form-comment textarea {

}








// Single Vendor Page |=============================================

.bg-white {
	background-color: #fff;
}

.border-bottom {
	border-bottom: 1px solid #eaeaea;
}

.border-top {
	border-top: 1px solid #eaeaea;
}


.border {
	border: 1px solid #eaeaea;
}

.vendor-banner {
	width: 100%;
	height: 250px;
	background-size: 100% 100%;
    margin-top: 35px !important; /* Move below the header */
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	background-position: center !important;
	background-repeat: no-repeat;
	background-position: fixed;
}

.vdp-image-wrap,
.vdp-intro-wrap,
.vdp-contact-info-wrap {
	margin-right: 0px;
	margin-left: 0px;
}

.vdp-intro-wrap {
	padding-bottom: 40px;
}

.vdp-image-wrap div {
	margin: -62px auto 0;
    width: 100px;
    padding: 3px;
    border-radius: 8px;
}

.vdp-image-wrap div img {
	width: 100%;
	border-radius: 5px;
}

.vdp-intro-wrap h2 {
	color: #B89A50;
}


.vdp-social {
	display: inline-block;
	margin: 0 auto;
}

.social {
	margin: 0;
	padding: 0;
}

.social li {
	display: inline-block;
	float: left;
	padding-right: 10px;
}

.social li:last-child {
	padding-right: 0px;
}

.social li a {
	display: block;
	width: 25px;
	height: 25px;
	background-color: red;
	overflow: hidden;
	text-indent: -9999999px;
}


.vdp-contact-info-wrap {
	width: 100%;
	text-align: center;
}

.vdp-contact-info-wrap ul {
	display: block;
	margin: 0 auto;
	position: relative;
	height: 100%;
	min-height: 36px;
	width: 100%;
	max-width: 900px;
	padding-top: 15px;
    padding-bottom: 57px;
}

.vdp-contact-info-wrap li {
	float: left;
	list-style: none;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
}

.vdp-info-email,
.vdp-info-location {
	width: 40%;
}

.vdp-info-email {
	text-align: right;
	padding-right: 40px;
}

.vdp-info-location {
	text-align: left;
	padding-left: 40px;
}

.vdp-info-phone {
	width: 20%;
	text-align: center;
	border-left: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
}

// Single Vendor Page |=============================================



// Vendor Grid |=============================================
	
.hero-vendor-grid {
	background-color: red;
	margin-top: 70px;
	height: 400px;
}

.vendor-grid-link-wrap {
	display: block;
	width: 100%;
	overflow: hidden;
	background-color: #F8F8F8;
}

.vendor-grid-banner {
	position: relative;
	width: 100%;
	height: 150px;
	overflow: visible;
	background-position: center !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}

.vendor-grid-avatar {
	position: absolute;
	overflow: hidden;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background-color: #000;
	bottom: -30px;
	right: 15px;
}

.vendor-grid-avatar img {
	width: 100%;
	display: none;
}

.vendor-grid-info-wrap {
	padding: 15px;
	padding-bottom: 30px;
	float: left;
}

.vendor-grid-info-wrap h3,
.vendor-grid-info-wrap span {
	width: 100%;
	float: left;
}

.vendor-grid-info-wrap h3 {
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: .1em;
}

// Vendor Grid |=============================================




// Shop Modal |=============================================

// Product title
.pp_pic_holder.pp_woocommerce .ppt {
	display: none !important;
}

// nav arrows / count
div.pp_woocommerce .pp_details .pp_nav {
	display: none !important;
// position: absolute;
//    top: 50%;
//    left: 50%;
//    width: 100%;
//    height: 50px;
//    background: red;
//    margin-left: -50%;
//    margin-top: -25px;
//    margin-right: 0;
}

// Shop Modal ! |=============================================



// Breakpoints |============================================= Leave these here for overides !!!

@media screen and (max-width: 768px) {

	.full {
		width: 100% !important; 
	}

	.woocommerce ul.products li.product {
	    width: 50%;
	    float: left !important;
	}

}


@media (min-width: 992px) {

	.full {
		width: 100% !important; 
	}

}

@media (min-width: 1200px) {

	.full {
		width: 100% !important; 
	}

}

.product .product-button-wrap, 
.shop-item .product-button-wrap,
.single-product div.product .product_meta .sku_wrapper {
	display: none !important;
}





.featured-vendor-product-list {
	    padding-bottom: 40px;
}

.featured-vendor-product-list .by-vendor-name-link {
	display: none !important;
}

ul.products li.product h3 {
	font-weight: 400;
    font-size: 14px;
    color: #111;
    margin: 0 !important;
    padding-top: 10px;
    float: left;
    width: 100%;
}

.featured-vendor-product-list .amount {
	padding-bottom: 20px;
    font-size: 18px;
    font-weight: 800;
    color: #B89A50;
    letter-spacing: 3px;
}

.woocommerce ul.products li.product .price ins .amount, .woocommerce ul.products li.product .price .amount {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3px;
    color: $gold;
}


li.product a {
	padding-bottom: 0;
	background-color: #fff;
}

.featured-vendor-product-list .prod-img-wrap {
	float: left;
    display: block;
    margin-top: -20px;
}

ul.products.featured-vendor-product-list li.product img {
	margin: 0;
}

ul.products.featured-vendor-product-list li.product .price {
	width: 100%;
	float: left;
	display: block;
	margin-top: -20px;
}

.vendor-home-product-wrap {
	float: left;
}

// shopping card image
.product-thumbnail {
	text-align: center;
}

.cart-subtotal .amount,
.cart_item .amount,
.order-total .amount,
td.product-price span.amount, td.product-subtotal span.amount {
	color: $gold;
	font-size: 18px;
}


.shop-item, .ex-product {
	background-color: #fff;
}

/******************************************************

Maybe add these back in

******************************************************/

.header-search {
	display: none;
}


dl.variation {
	display: none;
}




// --- mobile drop nav 

.nav.navbar-nav.navbar-right {
	padding: 15px 0;
}


.navbar-custom .nav li a:hover {
	color: #fff !important;
}





.slab-home-vendor {
	background: url('http://placehold.it/555x250') no-repeat center center;
}


h1, h2, h3, h4, h5, h6 {
	color: $gold;
}

.vdp-info-phone a,
.vdp-info-email a,
.main {
	color: #828181;
	font-weight: 300;
}

.vendor-banner {
	border-bottom: 1px solid #eaeaea;
}

.product-vendor .by-vendor-name-link {
	display: none !important;
}


// mobile menu icon
.navbar-custom .navbar-toggle .icon-bar {
	background-color: #cbc7c2 !important;
}

.navbar-fixed-top .navbar-collapse {
	background-color: $gold;
}

.navbar-custom .nav li > a {
	color: #fff;
}

.navbar-custom li a, 
.navbar-custom .menu-item-has-children-search {
	border-bottom: none !important;
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 12px;
}

.navbar.navbar-custom.navbar-fixed-top .container {
	padding-left: 0px;
	padding-right: 0px;
}

.shop_isle_header_title {
	padding-left: 20px;
}


.navbar-custom .navbar-cart {
	width: 55px;
}



// .hero-slider, .hero-slider .flex-viewport {
// 	height: 600px !important;
// }





// --- Home Banner Images

.module-small.home-banners {
	padding: 0px 0 30px;
}

.module-small.home-banners  .content-box-image {
	margin-bottom: 0;
}

.module-small.home-banners .col-sm-4 {
	padding-bottom: 0px;
}




//--- featured product Section

h2.module-title.font-alt.home-prod-title {
	font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

.home-product-slider {
	padding: 50px 0 70px;
}



//--- Featured Vendor Section






//--- Shop m

.module-small-shop ul.products {
	padding-top: 20px;
}

.product .by-vendor-name-link {
	display: none !important;
}


//--- Shop PDP

.single-product div.product .summary, .single-product div.product .images {
	padding-top: 40px;
	margin-bottom: 0px !important;
}

.single-product div.product .images .woocommerce-main-image {
	margin-bottom: 10px;
}

.summary.entry-summary {
	padding-top: 0px;
}

.summary.entry-summary h1 {
	font-size: 24px;
}

.summary.entry-summary .price .amount {
	color: $gold;
	font-size: 22px;
}

.single-product .product_title {
	margin-bottom: 0px;
}

.woocommerce.single-product div[itemprop="offers"] {
	margin-bottom: 0px;
}

.woocommerce-tabs ul.tabs li a, 
.woocommerce-tabs ul.tabs li.active a {
	font-size: 12px;
}

.woocommerce-tabs .panel h2 {
	padding-top: 0px;
	margin-bottom: 10px;
	font-size: 16px;
}


.woocommerce-tabs.wc-tabs-wrapper {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.related.products h2, 
.upsells.products h2{
	font-size: 22px;
}

.related.products ul.products {
	padding-top: 0px;
}

.product_meta {
	display: none;
}

.single-product .module-title.font-alt {
	font-size: 22px;
	margin-bottom: 20px;
}

.woocommerce.single-product .related.products, 
.woocommerce.single-product .upsells.products {
	padding-bottom: 15px;
}

// --- cart 

tr.cart_item td.product-remove {
	display: none !important;
}

// apply coupon btn
table.cart td.actions input[name="apply_coupon"] {
	float: none;
	display: block;
	margin: 0 auto 10px;
	background-color: #ccc;
}

.module.module-cart-top {
	padding-top: 90px;
}


.module.module-cart-top  .module-title {
	font-size: 20px;
}

.shop_table.cart {
	margin-bottom: 20px;
}

//--- Product vendor
.product-vendor .module-small.module-small-shop{
	padding: 0;
}












//--- Vendors

// wraps all vendors 
.vendor-grid-container {
	background-color: #fff;
}

/* the actual vendor */
.vendor-grid-vendor-wrap {
	margin-bottom: 20px;
}

.vendor-grid-vendor-inner-wrap {
	background-color: #F5F5F5;
}


.vendor-grid-logo-wrap,
.vendor-grid-text-wrap {
	display: block;
	float: left;
}


/* Vendor Logo */
.vendor-grid-logo-wrap {
	width: 30%;
	min-height: 100px;
	background-position: center center;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Vendor Text */
.vendor-grid-text-wrap {
	width: 70%;
	padding: 10px 15px;
}

.vendor-grid-text-wrap h3,
.vendor-grid-text-wrap span {
	display: block;
	width: 100%;
}

.vendor-grid-text-wrap h3 {
	margin: 0;
	font-size: 20px;
}

.vendor-grid-location,
.vendor-grid-phone {
	color: #828181;
}



//--- Homepage Featured Vendors
	
.featured-vendor-product-inner-wrap {
	background-color: #fff;
}

.featured-vendor-product-text-wrap {
	text-align: center;
	padding-bottom: 7px;
}

.featured-vendor-product-text-wrap h3 {
	font-weight: 400;
    font-size: 18px;
    color: #111;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

.featured-vendor-product-text-wrap .amount {
    font-size: 16px;
    font-weight: 800;
    color: #B89A50;
    letter-spacing: 3px;
}

.featured-vendor-product-link {
	display: inline-block;
}

.featured-vendor-product-link .prod-img-wrap,
.featured-vendor-product-link .featured-vendor-product-text-wrap {
	display: block;
	float: left;
	width: 100%;
}

.featured-vendor-product-container {
	padding-bottom: 40px;
}

.featured-vendor-product-wrap {
	margin-bottom: 25px;
}


//--- Login

	
.nwa-login-row-wrap {
	background-color: #F8F8F8;
	min-height: 500px;
	padding: 110px 30px;
}

.nwa-login-form-inner-wrap {
	max-width: 500px;
	margin: 0 auto;
}

.nwa-login-form-header {
	background: #B89A50;
	text-align: center;
	padding: 12px 0 10px;
}

.nwa-login-form-header h2 {
	color: #fff !important;
	font-size: 20px;
	text-transform: uppercase;
	margin: 0;
	letter-spacing: 2px;
}

.nwa-login-form {
	border: 1px solid #eaeaea;
	border-top: none;
	padding: 20px 0 30px;
}

.form-row {
	width: 100%;
	display: block;
}


.nwa-login-form .form-row {
	padding: 10px 30px;
}


.form-row input[type="email"],
.form-row input[type="password"] {
	border: none;
	border-bottom: 2px solid #eaeaea;
	font-size: 20px;
	letter-spacing: 0;
	font-weight: 200;
	transition: all 0.3s ease;
	padding: 10px 0 5px;
}

.form-row input[type="email"]:focus,
.form-row input[type="password"]:focus {
	background-color: #eaeaea;
	padding-left: 15px;
}

.nwa-login-form-button-wrap {
	padding-top: 25px;
}

.forgot {
	float: right;
    padding-top: 13px;
}















//--- Vendor Dashboard

.page-id-23 .page-module-content,
.page-id-24 .page-module-content,
.page-id-30 .page-module-content,
.page-id-31 .page-module-content,
.page-id-32 .page-module-content,
.page-id-25 .page-module-content,
.page-id-33 .page-module-content,
.page-id-28 .page-module-content,
.page-id-35 .page-module-content, {
	background-color: #F8F8F8 !important;
	padding: 30px 0;
}

.wcmp_side_menu {
	background-color: #f1f1f1 !important;
}

.wcmp_dashboard_display_box {
	box-shadow: none;
}

.wcmp_headding1 ul li,
.wcmp_headding1 span {
	font-family: 'NeutraText-Demi' !important;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	color: #fff;
}

.wcmp_headding1 {
	background-color: $gold;
	border-bottom: 1px solid $gold;
	padding: 10px 2% 6px 4%;
}

// .wcmp_table_holder table tbody tr:first-child td:first-child,
// .wcmp_table_holder table tbody tr:first-child td,
// .wcmp_table_holder table tbody tr:first-child td:last-child {
// 	background-color: $gold;
// }

.wcmp_table_holder table tbody tr:first-child td,
.wcmp_table_holder table tr td, 
.wcmp_table_holder tbody tr:last-child td,
.wcmp_table_holder table {
	border: none;
}

.wcmp_displaybox3,
.wcmp_displaybox2,
.wcmp_black_btn {
	box-shadow: none;
}

.input-group-addon.beautiful .fa.fa-check-square-o, 
.input-group-addon.beautiful .fa.fa-square-o {
	color: #fff;
}

.comment-reply-title {
	color: $gold;
}

.wcmp_main_page {
	box-shadow: none;
	border: none;
}

.wcmp_side_menu {
    background: #ffff;
    border-right: none;
}

.wcmp_side_menu {
	border: $border-gray;
}

.wcmp_main_holder {
	border-bottom: $border-gray;
	border-right: $border-gray;
}

.wcmp_main_menu ul li a {
	background: #f1f1f1;
}

.wcmp_main_menu ul li {
	border-right: none;
	margin-bottom: 0;
}

.wcmp_main_menu ul li a.active, 
.wcmp_main_menu ul li a:hover {
	background-color: $gold;
	color: #fff;
}


.wcmp_main_menu ul li ul li {
    border-top: 1px solid #f1f1f1 !important;
}

.wcmp_main_menu ul li ul li a, 
.wcmp_main_menu ul li ul li a.active {
	background: #fff;
	color: #7a7a7a;
}

.wcmp_main_menu ul li ul li a:hover {
	background: #fff;
	color: #7a7a7a;
}


.wcmp_main_menu ul li ul li a.selected_menu {
	background: none repeat scroll 0 0 #7b7b7b;
}

.shipping_table tr td input[type=submit],
.wcmp_orange_btn {
	@extend .btn;
	background: #B89A50 !important;
	text-transform: uppercase;
}

.wcmp_form1 input {
	box-shadow: none;
}

.wcmp_headding1 ul li.next {
	color: #fff;
}

.shipping_table tr td input[type=number], 
.shipping_table tr td input[type=text] {
	box-shadow: none;
}

.wcmp_main_menu ul li a .icon_stand.ic1 {
	background: url($site-img + 'dark-dashboard.svg') center center no-repeat;
}

.wcmp_main_menu ul li a.active .icon_stand.ic1, 
.wcmp_main_menu ul li a:hover .icon_stand.ic1 {
	background: url($site-img + 'dashboard.svg') center center no-repeat;
}

.wcmp_main_menu ul li a .icon_stand.ic2 {
	background: url($site-img + 'dark-shopping-cart-gear.svg') center center no-repeat;
}

.wcmp_main_menu ul li a.active .icon_stand.ic2, 
.wcmp_main_menu ul li a:hover .icon_stand.ic2 {
	background: url($site-img + 'shopping-cart-gear.svg') center center no-repeat;
}

.wcmp_main_menu ul li a .icon_stand.ic3 {
	background: url($site-img + 'dark-tags.svg') center center no-repeat;
}

.wcmp_main_menu ul li a.active .icon_stand.ic3, 
.wcmp_main_menu ul li a:hover .icon_stand.ic3 {
	background: url($site-img + 'tags.svg') center center no-repeat;
}

.wcmp_main_menu ul li a .icon_stand.ic4 {
	background: url($site-img + 'dark-stats.svg') center center no-repeat;
}

.wcmp_main_menu ul li a.active .icon_stand.ic4, 
.wcmp_main_menu ul li a:hover .icon_stand.ic4 {
	background: url($site-img + 'stats.svg') center center no-repeat;
}

.wcmp_main_menu ul li a .icon_stand.ic5 {
	background: url($site-img + 'dark-stats.svg') center center no-repeat;
}

.wcmp_main_menu ul li a.active .icon_stand.ic5, 
.wcmp_main_menu ul li a:hover .icon_stand.ic5 {
	background: url($site-img + 'stats.svg') center center no-repeat;
}

.wcmp_main_menu ul li a .icon_stand.ic6  {
	background: url($site-img + 'dark-shopping-cart.svg') center center no-repeat;
}

.wcmp_main_menu ul li a.active .icon_stand.ic6, 
.wcmp_main_menu ul li a:hover .icon_stand.ic6 {
	background: url($site-img + 'cart.svg') center center no-repeat;
}


.wcmp_main_menu ul li a .icon_stand.ic7 {
	background: url($site-img + 'dark-credit-card.svg') center center no-repeat;
}

.wcmp_main_menu ul li a.active .icon_stand.ic7, 
.wcmp_main_menu ul li a:hover .icon_stand.ic7 {
	background: url($site-img + 'payment.svg') center center no-repeat;
}


.wcmp_main_menu ul li ul li a, 
.wcmp_main_menu ul li ul li a.active {
	padding-left: 20px;
}

.wcmp_main_menu ul li .icon_stand {
	width: 50px;
}

.wcmp_main_menu ul li a {
	transition: 0s !important;
}

.input-group-addon.beautiful .fa.fa-check-square-o, 
.input-group-addon.beautiful .fa.fa-square-o {
	color: #555;
}

.input-group-addon.beautiful {
	display: block;
	width: 120px;	
}

.dc-wp-fields-uploader img {
	border: none;
}

.wcmp_media_block input {
	box-shadow: none;
}

.wcmp_main_holder .wcmp_shop_settings_form .wcmp_form1 span.txt {
	width: 100% !important;
}


.wcmp_shop_settings_form .wcmp_form1 input.small {
	width: 198px !important;
}


// dashboard -!











//--- contact form
	
.nwa-contact-form-wrap,
.nwa-contact-sidebar-wrap {
	padding-top: 30px;
}

.nwa-contact-form-wrap {
	padding-right: 30px;
}

.nwa-contact-form-wrap .form-row {
	padding: 10px 0;
    float: left;
}

.form-row-half {
	display: block;
	float: left;
	width: 50%;
}

.form-row-half--first {
	padding-right: 10px;
}

.form-row-half--last {
	padding-left: 10px;
}

.nwa-contact-form input[type=text],
.nwa-contact-form input[type=email],
.nwa-contact-form textarea {
	padding: 10px 15px 5px;
	letter-spacing: .1px;
	font-size: 16px !important;
	border: 1px solid #eaeaea;
}

.nwa-contact-form textarea {
	font-size: 14px !important;	
}

.styled-select {
	background: url(http://nwamade.com/wp-content/themes/nwamade/inc/img/down-arrow-select.svg) no-repeat 96% 18px;
	height: 29px;
	overflow: hidden;
	width: 100%;
	height: 45px;
	border: 1px solid #eaeaea;
	background-color: #fff;
}

.styled-select select {
	background: transparent;
	border: none;
	font-size: 14px;
	height: 45px;
	width: 105%;
	font-family: 'NeutraText-Demi' !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 10px 15px;
	text-transform: none;
	letter-spacing: 0;
	font-size: 16px;
	color: #a9a9a9;
}

.nwa-contact-name,
.nwa-contact-name-title,
.nwa-contact-email,
.nwa-contact-phone {
	display: block;
	width: 100%;
	float: left;
}

.nwa-contact-address {
	margin: 0;
	padding: 0;
	list-style: none;
}






// MQ 768 |=============================================

@media screen and (min-width: 768px) {

.navbar-fixed-top .navbar-collapse {
	background-color: transparent;
}

.navbar-custom .nav li > a {
    color: #9F9F9F;
}
.navbar-custom .nav li a:hover {
	color: $gold !important;
}

.nwa-login-row-wrap {
	padding: 150px 0px;
}

.module-small.home-banners {
	padding-top: 30px;
}

.navbar {
	padding: 0;
}

.navbar-cart-inner {
	top: 32px;
}

.woocommerce-breadcrumb {
	top: 78px;
}

.vdp-image-wrap div {
    width: 150px;
    padding: 5px;
}

}




@media (min-width: 992px) {



}









