@charset "UTF-8";
body {
  overflow-x: hidden;
  color: #7B868D;
  font-family: 'Lato', sans-serif !important; }

html, body {
  height: 100%; }

.center {
  text-align: center; }

ol,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0; }

p {
  color: #7B868D;
  line-height: 24px; }

* {
  color: #7B868D; }

.job-detail *,
.business-detail *,
.memeber-detail * {
  color: #7B868D !important;
  line-height: 24px !important; }

.job-detail ul,
.business-detail ul,
.memeber-detail ul {
  list-style-type: circle !important; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300 !important;
  color: #4B6172 !important; }

.h2, h2 {
  font-size: 22px; }

.h2, h2 {
  font-size: 22px; }

table {
  border: #F2F2F8; }

.pos-rel {
  position: relative; }

.pos-abs {
  position: absolute; }

.radius {
  border-radius: 5px; }

.wrap-hero {
  margin-top: -87px;
  padding: 0;
  padding-top: 80px; }

.hero {
  width: 100%;
  min-height: 500px;
  border-bottom: solid 1px #e7e7e7; }

.hero h1 {
  padding-top: 50px; }

.hero-center-content {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  height: 100%; }

.home-section {
  padding: 50px 0 100px; }

.hero-home {
  background: url(./img/hero-home.png) no-repeat;
  min-height: 500px; }

.hero-learn {
  background: url(./img/hero-learn.png) no-repeat; }

.hero-discover {
  background: url(./img/hero-discover.png) no-repeat; }

.hero-events {
  background: url(./img/hero-events.png) no-repeat; }

.hero-forums {
  background: url(./img/hero-forums.png) no-repeat; }

.hero-jobs {
  background: url(./img/hero-jobs.png) no-repeat; }

.hero-home h1 {
  padding-top: 160px; }

.wrap-hero .container.hero {
  max-width: none !important;
  background-size: cover;
  background-position: top center; }

.home-section-connect .landing-img-section {
  padding-top: 70px !important; }

a.btn, a#eo-submit-search, a#event-board-more, a.uploadBtn, a#wpua-add-existing,
.btn,
#eo-submit-search,
#event-board-more,
.uploadBtn,
#wpua-add-existing,
button.btn,
button#eo-submit-search,
button#event-board-more,
button.uploadBtn,
button#wpua-add-existing {
  color: #fff;
  background-color: #DF4F2A !important;
  padding: 15px 35px;
  border-radius: 50px;
  font-size: 16px;
  margin-top: 10px; }

a.btn:hover, a#eo-submit-search:hover, a#event-board-more:hover, a.uploadBtn:hover, a#wpua-add-existing:hover,
.btn:hover,
#eo-submit-search:hover,
#event-board-more:hover,
.uploadBtn:hover,
#wpua-add-existing:hover {
  color: rgba(255, 255, 255, 0.5) !important; }

a.btn-outline,
.btn-outline {
  background-color: transparent;
  border: 2px solid #EDEDED;
  color: #857B78; }

a.btn-outline:hover,
.btn-outline:hover {
  color: #fff !important;
  background-color: #DF4F2A;
  border: 2px solid transparent; }

.btn-ctr {
  text-align: center; }

.btn-ctr button {
  margin: 0 auto;
  display: inline-block;
  float: none; }

.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important; }

.btn-right {
  float: right; }

a.btn.btn-red, a.btn-red#eo-submit-search, a.btn-red#event-board-more, a.btn-red.uploadBtn, a.btn-red#wpua-add-existing,
.btn.btn-red,
.btn-red#eo-submit-search,
.btn-red#event-board-more,
.btn-red.uploadBtn,
.btn-red#wpua-add-existing {
  color: #fff !important; }

.bg-white {
  background-color: #fff; }

.bg-body {
  background-color: #FBFBFD; }

.bg-gray {
  background-color: #FBFBFD; }

.bg-red {
  background-color: #DF4F2A; }

.bg-black {
  background-color: #212427; }

.bg-green {
  background-color: #29A659; }

.landing-copy-section {
  max-width: 500px;
  margin: 0 auto; }

.home-section-teasers {
  padding: 15px 0 60px;
  border-top: solid 1px #F2F2F8;
  border-bottom: solid 1px #F2F2F8; }

.home-section-teasers h2 {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 400 !important; }

.home-tout-tease {
  position: relative;
  min-height: 225px; }

.home-section-teasers .btn, .home-section-teasers #eo-submit-search, .home-section-teasers #event-board-more, .home-section-teasers .uploadBtn, .home-section-teasers #wpua-add-existing {
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: 0px;
  width: 190px;
  margin-left: -95px;
  background-color: #fff !important; }

.home-section-teasers .btn:hover, .home-section-teasers #eo-submit-search:hover, .home-section-teasers #event-board-more:hover, .home-section-teasers .uploadBtn:hover, .home-section-teasers #wpua-add-existing:hover {
  background-color: #DF4F2A !important; }

.home-tout-tease {
  padding: 20px 10px 0 10px; }

.home-section-learn {
  padding: 20px 0 0; }

.home-section-connect .landing-img-section {
  padding: 50px 0; }

.home-section-connect .container,
.home-section-discover .container {
  padding-bottom: 30px;
  padding-bottom: 30px; }

.home-section-trending {
  padding: 30px 0 0; }

.home-select-cat-wrap {
  padding-top: 50px; }

.hide-text {
  overflow: hidden;
  text-indent: -99999px; }

.card, .page-id-128 .post-inner-content, select, .type-event .entry-header, .pmpro-checkout .post-inner-content, #event-board-items .eo-eb-event-box, .post-inner-content {
  background: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden; }

.card a.btn, select a.btn, .type-event .entry-header a.btn, #event-board-items .eo-eb-event-box a.btn, .post-inner-content a.btn, .card a#eo-submit-search, select a#eo-submit-search, .type-event .entry-header a#eo-submit-search, #event-board-items .eo-eb-event-box a#eo-submit-search, .post-inner-content a#eo-submit-search, .card a#event-board-more, select a#event-board-more, .type-event .entry-header a#event-board-more, #event-board-items .eo-eb-event-box a#event-board-more, .post-inner-content a#event-board-more, .card a.uploadBtn, select a.uploadBtn, .type-event .entry-header a.uploadBtn, #event-board-items .eo-eb-event-box a.uploadBtn, .post-inner-content a.uploadBtn, .card a#wpua-add-existing, select a#wpua-add-existing, .type-event .entry-header a#wpua-add-existing, #event-board-items .eo-eb-event-box a#wpua-add-existing, .post-inner-content a#wpua-add-existing {
  color: #fff !important; }

.home-section-trending .col-xs-6.col-md-3 {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.home-section-trending h4 {
  font-size: 22px;
  margin-bottom: 25px; }

.card a, .page-id-128 .post-inner-content a, select a, .type-event .entry-header a, .pmpro-checkout .post-inner-content a, #event-board-items .eo-eb-event-box a, .post-inner-content a {
  color: #7B868D !important; }

.col-md-3.card, select.col-md-3, .type-event .col-md-3.entry-header, #event-board-items .col-md-3.eo-eb-event-box, .col-md-3.post-inner-content {
  padding: 0; }

.card-img {
  height: 150px;
  width: 100%;
  display: block;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center; }

.card-avatar {
  height: 45px;
  width: 45px;
  position: absolute;
  bottom: 25px;
  right: 20px;
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.08); }

.card-wrap-copy {
  padding: 20px 25px; }

.card-grid-jobs .card-wrap-copy {
  min-height: 250px;
  max-height: 250px; }

.card-wrap-copy a {
  display: inline-block; }

.card-title {
  color: #7B868D !important; }

.card-cat,
.card-title {
  width: 100%;
  padding-bottom: 10px; }

.card-cat {
  font-size: 11px;
  text-transform: uppercase;
  padding-bottom: 10px; }

.card-title {
  font-size: 16px; }

.card-info-divider {
  padding: 0 3px;
  font-size: 9px; }

.card-info {
  font-size: 11px; }

.card.business .card-avatar, select.business .card-avatar, .type-event .business.entry-header .card-avatar, #event-board-items .business.eo-eb-event-box .card-avatar, .business.post-inner-content .card-avatar {
  top: auto;
  bottom: 15px; }

.card.business .card-wrap-copy, select.business .card-wrap-copy, .type-event .business.entry-header .card-wrap-copy, #event-board-items .business.eo-eb-event-box .card-wrap-copy, .business.post-inner-content .card-wrap-copy {
  position: relative; }

.card.business .card-wrap-copy, select.business .card-wrap-copy, .type-event .business.entry-header .card-wrap-copy, #event-board-items .business.eo-eb-event-box .card-wrap-copy, .business.post-inner-content .card-wrap-copy {
  max-height: 220px;
  min-height: 220px; }

/*.card.business .card-wrap-copy::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 250px;
  bottom: 0px;
  left: 0px;
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 20%, #FFFFFF 90%);
}*/
.card.business .card-wrap-copy .card-title, select.business .card-wrap-copy .card-title, .type-event .business.entry-header .card-wrap-copy .card-title, #event-board-items .business.eo-eb-event-box .card-wrap-copy .card-title, .business.post-inner-content .card-wrap-copy .card-title {
  padding-bottom: 15px;
  float: left; }

#colophon.site-footer {
  text-align: center;
  background: #212427; }

.hero-with-cats {
  position: relative; }

.hero-cats-wrap {
  display: block;
  position: absolute;
  left: 50%;
  z-index: 2;
  text-align: center;
  width: 100%;
  margin-left: -50%;
  bottom: -80px;
  max-width: 1000px; }

.hero-cats-wrap a {
  display: none;
  color: #000;
  background: #fff;
  padding: 0 25px;
  height: 37px;
  line-height: 35px;
  border-radius: 20px;
  margin: 0 8px 12px 0;
  text-decoration: none;
  font-size: 15px;
  color: #7B868D;
  cursor: pointer; }

.hero-cats-wrap a:hover {
  text-decoration: none !important; }

.card-grid-title-row {
  padding: 40px 15px 25px;
  float: left;
  width: 100%; }

.card-grid-title-row h2 {
  display: inline-block; }

.card-grid-landing .card, .card-grid-landing select, .card-grid-landing .type-event .entry-header, .type-event .card-grid-landing .entry-header, .card-grid-landing #event-board-items .eo-eb-event-box, #event-board-items .card-grid-landing .eo-eb-event-box, .card-grid-landing .post-inner-content {
  margin-bottom: 50px; }

.pagination-wrap {
  text-align: center;
  width: 100%;
  float: left; }

.pagination > li > a, .pagination > li > span {
  border: solid 1px #F2F2F8;
  padding: 11px 18px;
  color: #7B868D; }

.pagination > li > a:hover,
.pagination > li > span:hover {
  background-color: #DF4F2A;
  color: #fff !important; }

.edu-video-wrap {
  width: 100%; }

.edu-content-wrap {
  margin-top: 30px; }

.edu-content-wrap h3 {
  margin: 50px 0 30px 0;
  font-size: 26px; }

.edu-content-wrap p {
  margin: 20px 0 30px 0; }

.edu-content-inner {
  width: 100%;
  /*padding: 20px 50px 50px;*/
  padding: 0px 10px 20px;
  display: inline-block; }

.byline {
  display: block !important; }

.tagcloud a:hover {
  text-decoration: none !important; }

.tagcloud a {
  display: inline-block;
  border-radius: 20px !important;
  padding: 7px 10px !important; }

.related-videos-list li {
  display: inline-block;
  width: 100%;
  border-bottom: solid 1px #F2F2F8; }

.related-videos-list li a {
  padding: 16px 0 10px;
  display: inline-block;
  width: 100%; }

.related-img-post {
  width: 50px;
  height: 50px;
  background-color: gray;
  float: left;
  border-radius: 5px;
  overflow: hidden; }

.related-img-post img {
  height: 100%; }

.related-title-post {
  padding: 16px 10px 10px;
  float: left;
  height: 100%; }

.login-form,
.signup-form {
  background-color: transparent !important; }

.login-form-wrap {
  padding: 50px 30px; }

.login-form-wrap .col-md-6 {
  padding-left: 50px;
  padding-right: 50px; }

.login-form-wrap input {
  margin-bottom: 15px; }

.my-account-wrap {
  margin-top: 30px;
  padding: 0px 30px 30px; }

.account-nav-wrap {
  width: 100%;
  float: left;
  border-bottom: solid 1px #F2F2F8;
  padding: 30px 0; }

.account-nav-wrap li {
  float: left;
  height: 100%;
  display: block;
  padding: 0px 20px; }

.account-nav-wrap li:first-child {
  padding-left: 0px; }

.account-nav-wrap a {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  font-size: 16px;
  position: relative; }

.account-nav-active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #DF4F2A;
  bottom: -30px;
  left: 0px; }

.account-activity-wrap.col-xs-12.col-md-7,
.account-business-wrap.col-xs-12.col-md-7 {
  padding-top: 0px; }

.account-business-wrap .account-info-section {
  padding: 20px 30px 30px; }

.my-account-wrap select {
  color: #666;
  border: 2px solid #E8E8E8;
  border-radius: 8px;
  box-shadow: none;
  padding: 0px;
  position: relative;
  background-position: right; }

.account-activity-wrap h3 {
  margin-bottom: 30px; }

.account-activity-list-wrap {
  padding-top: 20px; }

.account-activity-list {
  display: block;
  width: 100%; }

.account-activity-list li a {
  padding: 12px 0;
  display: inline-block;
  border-top: solid 1px #F2F2F8;
  width: 100%; }

.account-activity-list li:last-child a {
  border-bottom: solid 1px #F2F2F8; }

.account-account-details-wrap {
  border-radius: 5px;
  margin-top: 40px;
  padding: 40px !important; }

.account-details-header {
  width: 100%;
  border-bottom: solid 1px #F2F2F8;
  height: auto;
  overflow: hidden;
  padding-bottom: 30px; }

.account-details-avatar {
  float: left;
  margin-right: 20px;
  display: block;
  height: 102px;
  width: 102px;
  border-radius: 50%; }

.account-details-list li {
  line-height: 25px; }

.account-details-list li a.badge {
  margin-top: 6px; }

.account-details-header .icon-edit {
  display: block;
  width: 16px;
  height: 16px;
  top: 0px;
  right: 0px;
  cursor: pointer; }

.account-create-new-cta {
  width: 100%;
  display: block;
  position: relative;
  padding: 30px 30px 26px;
  font-size: 14px;
  margin: 20px 0;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #DF4F2A; }

a.account-create-new-cta * {
  color: #fff !important; }

a.account-create-new-cta:hover {
  text-decoration: none; }

.account-create-new-cta .icon-plus {
  top: 30px;
  right: 30px;
  width: 20px;
  height: 20px; }

.account-info-section {
  padding: 30px;
  margin-bottom: 20px; }

.account-info-section .icon-edit {
  top: 30px;
  right: 30px;
  width: 20px;
  height: 20px; }

a.badge {
  color: #fff !important; }

.badge.bg-green {
  background-color: #29A659; }

.badge.bg-green {
  padding: 8px 10px;
  border-radius: 5px; }

.text-hide, .icon-sprite {
  overflow: hidden;
  text-indent: -99999px; }

.pill, .eo-eb-filter {
  display: inline-block;
  color: #000;
  background: #fff;
  padding: 0 25px;
  height: 37px;
  line-height: 35px;
  border-radius: 20px;
  margin: 0 8px 12px 0;
  text-decoration: none;
  font-size: 15px;
  color: #7B868D;
  position: relative;
  border: solid 1px #F2F2F8; }

.pill.can-close::after, .can-close.eo-eb-filter::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  top: 2px;
  right: 2px; }

.page-id-128 .post-inner-content {
  border: none !important;
  padding: 0px 40px; }

.btn-group > .btn:first-child, .btn-group > #eo-submit-search:first-child, .btn-group > #event-board-more:first-child, .btn-group > .uploadBtn:first-child, .btn-group > #wpua-add-existing:first-child {
  margin-left: 0;
  font-size: 12px;
  padding: 9px 25px 9px 20px;
  margin-top: -4px; }

.btn-group > .btn .caret, .btn-group > #eo-submit-search .caret, .btn-group > #event-board-more .caret, .btn-group > .uploadBtn .caret, .btn-group > #wpua-add-existing .caret {
  margin-right: -9px;
  margin-top: -3px; }

.dropdown-menu {
  left: -27px;
  border: solid 1px #F2F2F8;
  background: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.05);
  overflow: visible; }

.dropdown-menu::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  z-index: 1;
  top: -9px;
  left: 50%;
  margin-left: -5px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.05); }

.dropdown-menu .divider {
  display: none; }

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 10px 0px; }

.dropdown-menu > li > a:hover {
  color: #7B868D !important; }

.dropdown-menu > li > a:hover {
  color: #7B868D !important;
  background-color: none !important; }

video {
  width: 100%;
  height: auto; }

.card-grid-landing .card, .card-grid-landing select, .card-grid-landing .type-event .entry-header, .type-event .card-grid-landing .entry-header, .card-grid-landing #event-board-items .eo-eb-event-box, #event-board-items .card-grid-landing .eo-eb-event-box, .card-grid-landing .post-inner-content, .card-grid-landing .page-id-128 .post-inner-content, .page-id-128 .card-grid-landing .post-inner-content {
  margin-bottom: 30px !important; }

button.btn.navbar-toggle, button.navbar-toggle#eo-submit-search, button.navbar-toggle#event-board-more, button.navbar-toggle.uploadBtn, button.navbar-toggle#wpua-add-existing,
button.btn.navbar-toggle:hover,
button.navbar-toggle#eo-submit-search:hover,
button.navbar-toggle#event-board-more:hover,
button.navbar-toggle.uploadBtn:hover,
button.navbar-toggle#wpua-add-existing:hover {
  background-color: transparent !important;
  border: none;
  border: 0px;
  outline: none; }

button.btn.navbar-toggle:focus, button.navbar-toggle#eo-submit-search:focus, button.navbar-toggle#event-board-more:focus, button.navbar-toggle.uploadBtn:focus, button.navbar-toggle#wpua-add-existing:focus {
  outline: none; }

button.btn.navbar-toggle, button.navbar-toggle#eo-submit-search, button.navbar-toggle#event-board-more, button.navbar-toggle.uploadBtn, button.navbar-toggle#wpua-add-existing {
  margin-right: -25px; }

.btn.active, .active#eo-submit-search, .active#event-board-more, .active.uploadBtn, .active#wpua-add-existing, .btn:active, #eo-submit-search:active, #event-board-more:active, .uploadBtn:active, #wpua-add-existing:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

#logo > a > img {
  top: 10px;
  width: 135px; }

.scroll-to-top {
  display: none;
  position: absolute;
  top: -999999999%;
  left: -9999999999%; }

/*
.container {
    padding-right: 8px;
    padding-left: 8px;
}

.container .container {
  padding-right: 20px;
  padding-left: 20px;
}*/
.site-navigation-inner .dropdown-menu {
  display: block;
  position: static;
  float: left;
  border: 0px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0px;
  box-shadow: none; }

.dropdown-menu > li > a {
  padding: 9px 0px 10px 14px; }

.navbar-nav > li > .dropdown-menu {
  padding: 0; }

.btn-group > .btn:first-child, .btn-group > #eo-submit-search:first-child, .btn-group > #event-board-more:first-child, .btn-group > .uploadBtn:first-child, .btn-group > #wpua-add-existing:first-child,
.dropdown-menu::before {
  display: none; }

.ap-cradit {
  display: none; }

#message.row {
  margin-right: -15px;
  margin-left: -15px; }

select {
  margin-left: 10px;
  background: #fff;
  width: 150px;
  padding: 5px;
  font-size: 16px;
  border: none;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  position: relative;
  background: #fff url(./img/down-arrow.svg) no-repeat right;
  margin-bottom: 0 !important; }

.wp-switch-editor {
  border-radius: 0; }

#bdesc_ifr,
.wp-editor-area {
  border: solid 1px #F2F2F8 !important; }

.wp-editor-area {
  border-radius: 0 !important; }

.quicktags-toolbar {
  min-height: 38px !important; }

.btn.btn-default.dropdown-toggle, .btn-default.dropdown-toggle#eo-submit-search, .btn-default.dropdown-toggle#event-board-more, .btn-default.dropdown-toggle.uploadBtn, .btn-default.dropdown-toggle#wpua-add-existing {
  background-color: #DF4F2A !important; }

#anspress #ap-question-sorting .ap-dropdown-toggle.active {
  color: #fff !important;
  margin: 0px !important; }

#anspress .ap-dropdown-menu li.active a {
  color: #fff !important; }

#anspress .ap-list-head .ap-btn-ask {
  color: #fff !important; }

.site-main {
  padding-top: 30px; }

.eo-event-search {
  width: 100%;
  float: left;
  padding-bottom: 100px; }

.type-event {
  float: left;
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.type-event .entry-header {
  padding: 30px; }

.pmpro-checkout .post-inner-content {
  border: none !important; }

.static-content-page-wrap {
  padding: 20px 50px 40px; }

#event-board-items .eo-eb-event-box {
  background-color: #fff !important;
  padding: 15px; }

.eo-eb-filter {
  padding: 0px 12px 0px 12px !important;
  font-size: 12px !important; }

#event-board-items .eo-eb-event-title a {
  font-size: 16px !important;
  line-height: 22px !important; }

.eo-eb-date-day,
.eo-eb-date-month {
  background-color: transparent !important; }

#event-board-items .eo-eb-date-container {
  float: left !important; }

.eo-eb-date-container {
  border: solid 1px #F2F2F8; }

#event-board-items .eo-eb-date-day {
  font-size: 25px !important;
  padding: 5px 0; }

.eo-eb-date-month {
  text-transform: uppercase;
  color: #000 !important;
  border-bottom: solid 1px #F2F2F8;
  font-size: 12px !important;
  letter-spacing: 1.2px !important; }

.eo-eb-event-meta-container {
  width: 100%;
  display: block;
  float: left; }

.eo-eb-filter {
  background-color: #fff !important; }

#event-board-filters {
  max-width: 1000px !important;
  text-align: center !important;
  margin: 0 auto !important; }

.page-template-page-events .card-grid-title-row h2 {
  text-align: center;
  width: 100%; }

#event-board-more {
  background: #DF4F2A;
  background: #DF4F2A !important;
  opacity: 1 !important;
  max-width: 200px !important;
  font-weight: 400 !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

#event-board {
  padding-bottom: 50px; }

.profile-page-wrap {
  margin-top: 30px;
  padding: 0px 30px 30px; }

.not-the-account-page {
  border: none;
  padding-bottom: 10px; }

.profile-page-wrap-content {
  padding: 20px 10px 30px 30px !important; }

#wpadminbar {
  display: none; }

.pad-left {
  padding-left: 15px; }

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  max-height: 370px; }

.filter-select-wrap {
  /*   padding-right: 15px;*/
  padding-left: 15px;
  margin-bottom: 20px;
  float: left;
  width: 100%;
  height: 78px; }

.filter-select-wrap p {
  float: right;
  width: 100%;
  text-align: right; }

.filter-select-wrap select {
  padding-left: 20px;
  width: 100%;
  height: 45px;
  float: right;
  font-size: 12px;
  letter-spacing: .5px;
  padding-top: 9px;
  color: #7B868D !important; }

.filter-cat-wrap,
.filter-text-wrap {
  display: inline-block;
  float: left; }

@media (min-width: 650px) {
  .col-xs-12.trending {
    width: 50%; }

  .filter-select-wrap select {
    width: 48%; }

  .filter-select-wrap label {
    float: right;
    width: 100%;
    text-align: right; }

  .dropdown-menu > li > a:hover {
    background-color: #FBFBFD !important; } }
.account-activity-wrap.col-xs-12.col-md-7,
.account-business-wrap.col-xs-12.col-md-7 {
  padding-left: 0px !important;
  padding-right: 0px !important; }

@media (min-width: 768px) {
  .footer-nav-wrap ul li {
    width: auto !important;
    float: left !important;
    text-align: left !important; }

  .footer-nav-wrap ul li a {
    font-size: 18px !important; }

  .footer-nav-wrap ul {
    width: 100%; }

  .footer-nav-wrap ul.bottom-nav-list li a {
    font-size: 14px !important; }

  .footer-nav-wrap ul div {
    margin: 0 auto;
    display: inline-block; }

  .account-business-wrap .account-info-section {
    padding: 20px 30px 30px; }

  .edu-content-inner {
    padding: 20px 50px 50px; }

  .home-section-teasers {
    padding: 25px 0 60px; }

  .navbar-nav > li > .dropdown-menu {
    padding: 11px 0 6px; }

  .navbar-nav > li > .dropdown-menu a {
    color: #4B6172 !important; }

  #logo > a > img {
    top: 15px;
    width: 135px; }

  .btn-group > .btn:first-child, .btn-group > #eo-submit-search:first-child, .btn-group > #event-board-more:first-child, .btn-group > .uploadBtn:first-child, .btn-group > #wpua-add-existing:first-child,
  .dropdown-menu::before {
    display: block; }

  .site-navigation-inner .dropdown-menu {
    display: none;
    position: absolute; }

  .open .dropdown-menu {
    display: block;
    position: absolute;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    position: relative;
    margin-bottom: 30px; }

  .dropdown-menu {
    position: absolute !important; }

  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; } }
@media (min-width: 1200px) {
  .hero-cats-wrap {
    margin-left: -500px; } }
.icon-edit {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url(./img/icon-sprite.svg);
  background-position: 0px -12.21015625px; }

.icon-plus {
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-image: url(./img/icon-sprite.svg);
  background-position: 0px -35.21015625px; }

.post-inner-content {
  border-color: transparent;
  border-top: none !important; }

#homeSearchBox {
  width: 100%;
  height: 45px;
  border-radius: 55px; }

#homeSelectBox {
  width: 100%;
  margin: 0;
  box-shadow: none;
  height: 45px;
  border-radius: 50px;
  border: 2px solid #E8E8E8;
  padding-left: 20px;
  margin-top: 10px;
  color: #7B868D !important;
  font-size: 14px; }

@media (min-width: 500px) {
  .home-search {
    width: 400px;
    margin: 0 auto;
    position: relative;
    height: 55px; }

  #homeSearchBox {
    width: 400px;
    padding: 15px;
    height: 55px;
    border-radius: 50px;
    position: absolute;
    left: 0px;
    top: 0px; }

  #homeSelectBox {
    position: absolute;
    height: 40px;
    top: -2px;
    left: 249px;
    width: 140px;
    box-shadow: none !important;
    border: none;
    border-left: solid 1px #F2F2F8;
    border-radius: 0;
    padding-left: 15px; }

  #searchNow {
    margin-top: 70px; } }
@media (min-width: 800px) {
  #searchNow {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0; }

  .home-search {
    width: 540px; } }
@media (min-width: 992px) {
  .filter-select-wrap select {
    width: 23%; }

  .account-activity-wrap.col-xs-12.col-md-7,
  .account-business-wrap.col-xs-12.col-md-7 {
    padding-top: 20px; }

  .my-account-wrap .col-xs-12.col-md-7 {
    padding-right: 20px !important; }

  .col-xs-12.trending {
    width: 25%; }

  .home-search {
    width: 650px; }

  #homeSearchBox {
    width: 510px; }

  #homeSelectBox {
    padding-left: 24px;
    left: 330px;
    width: 170px; }

  .edu-content-inner .col-md-8 {
    padding-right: 70px; } }
.account-nav ul {
  min-width: 860px; }

.account-nav-wrap {
  width: 100%;
  overflow-x: scroll;
  position: relative; }

.my-account-wrap::after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 82px;
  background-color: #fff;
  border-left: solid 1px #F2F2F8;
  border-bottom: solid 1px #F2F2F8;
  background: white url(./img/nav-arrows-mobile.svg) no-repeat 19px 35px; }

.account-nav-wrap::-webkit-scrollbar {
  display: none; }

.account-nav ul li:last-child {
  padding-right: 50px; }

@media (min-width: 715px) {
  .my-account-wrap::after {
    display: none; } }
label {
  color: #7B868D;
  font-weight: 200; }

/*#uploadFile {
  border: 2px solid #E8E8E8;
    border-radius: 8px;
    height: 45px;
    padding-left: 20px;
    width: 60%;
}*/
/* {
  @extend .btn;
}*/
#uploadFile {
  position: relative;
  overflow: hidden;
  margin: 10px; }

input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  background: red;
  width: 220px;
  height: 45px; }

.inputBtnSection {
  position: relative; }

.uploadBtn {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -10px;
  height: 45px;
  padding-top: 11px; }

#uploadFile {
  color: #666;
  border: 2px solid #E8E8E8;
  position: absolute;
  height: 45px;
  margin: 0;
  padding-left: 20px;
  border-radius: 50px;
  width: 78%;
  right: 0px; }

#uploadLogo {
  margin-top: 45px;
  margin-left: 130px; }

.section-text {
  text-align: center;
  padding: 0 25%; }

#pakete em {
  color: #000;
  font-weight: bold;
  background: #7dc160;
  border-bottom: 2px solid #3ca02a;
  padding: 0px 7px;
  line-height: 1.8; }

#pakete .entypo-check {
  color: #36ac3e; }

#pakete .entypo-cancel {
  color: #d33536; }

#pakete table {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  border-spacing: 0;
  font: 400 1.4rem 'Open Sans', sans-serif;
  transition: width 0.2s height 0.2s; }

#pakete tr:first-child th {
  font: 400 1.4rem 'Open Sans', sans-serif !important;
  text-transform: uppercase; }

#pakete th, #pakete td {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: center; }

#pakete th:last-child, #pakete td:last-child {
  border-right: none; }

#pakete tr:last-child td, #pakete tr:last-child th {
  border-bottom: none; }

#pakete th {
  background: #efefef;
  font: 600 1.4rem 'Open Sans', sans-serif; }

#pakete .box {
  position: relative;
  margin: 3% auto 0;
  width: 70%;
  height: 600px;
  perspective: 10000;
  transform-style: preserve-3d;
  min-width: 950px;
  overflow: visible;
  transition: width 0.2s height 0.2s;
  overflow: visible !important; }

#pakete .box .front, #pakete .box .back, #pakete .box .responsive-tables [class*="little"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.7s;
  /* How long should the flipping be? */
  transform-origin: 50% 50%;
  background: #fff;
  border-radius: 5px; }

#pakete .box .responsive-tables [class*="little"] {
  width: 48%; }

#pakete .box .responsive-tables {
  display: none;
  width: 100%;
  height: 100%; }

#pakete .box .responsive-tables [class*="little"] {
  transform: rotateY(0deg) translateX(250%);
  transform-origin: 0 0;
  transition: transform 0.6s, opacity 0.0s 0.4s;
  opacity: 0.0; }

#pakete .box [class*="little"].active {
  transform: rotateY(0) translateX(0);
  transition: transform 0.6s;
  opacity: 1; }

#pakete .box [class*="little"].activetwo {
  transform: rotateY(0) translateX(106%);
  transition: transform 0.6s;
  opacity: 1; }

#pakete .box [class*="little"].last {
  transform: rotateY(0) translateX(-110%);
  transition: transform 0.6s opacity 0.0s 0.4s;
  opacity: 0.0; }

#pakete .front {
  /* große tabelle zu anfang nicht gedreht */
  transform: rotateY(0deg); }

#pakete .back {
  /* alle backsites gedreht, nicht sichtbar zu anfang */
  transform: rotateY(180deg);
  padding: 5%;
  border: 1px solid #ddd;
  box-sizing: border-box; }

#pakete .back img {
  float: left;
  width: 120px;
  margin-top: 80px; }

#pakete .back p {
  padding-left: 40px;
  margin-left: 120px; }

#pakete .price {
  font: 600 1.4rem 'Open Sans', sans-serif;
  padding-left: 40px; }

#pakete h2 {
  margin-top: 40px; }

/* The buttons */
#pakete .responsive-tables button.next-table {
  position: absolute;
  left: 0;
  height: 50px;
  border-radius: 0;
  background: #fff;
  border: none;
  color: #fff;
  font-size: 2.5rem;
  padding: 0;
  z-index: 99;
  width: 100%;
  bottom: -50px;
  background-color: green; }

#pakete .responsive-tables button.next-table:after {
  content: "";
  display: block;
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: red; }

#pakete .responsive-tables button.prev-table {
  position: absolute;
  left: -3%;
  top: 50%;
  width: 60px;
  height: 80px;
  margin-top: -25px;
  background: #D43536;
  border: none;
  color: #fff;
  font-size: 2.5rem;
  padding: 0;
  z-index: 99;
  border-radius: 0 50% 50% 0; }

#pakete .box[class*="flip"] .responsive-tables button.next-table, #pakete .box[class*="flip"] .responsive-tables button.prev-table {
  background: #d6b8b8;
  pointer-events: none; }

#pakete [class*='hide-me_'] {
  width: 0px !important;
  height: 0px !important;
  padding: 0px !important;
  background: transparent !important;
  border-radius: 100% !important;
  border-top: 40px solid transparent !important;
  border-bottom: 40px solid transparent !important;
  border-left: 40px solid #f66f6f !important;
  border-right: 40px solid transparent !important;
  display: block;
  position: absolute;
  right: -41px;
  top: -41px;
  transform: rotate(315deg);
  cursor: pointer; }

#pakete [class*='hide-me_']:before {
  content: "\232b";
  font: 1.4rem 'entypo', sans-serif;
  position: absolute;
  top: -8px;
  left: -32px;
  color: #ffd8d8;
  display: block;
  transition: 0.3s; }

#pakete [class*='hide-me_']:hover:before {
  color: #fff; }

@media only screen and (max-width: 1024px) {
  /* The surrounding box */
  #pakete .box {
    position: relative;
    margin: 3% auto 0;
    width: 70%;
    height: 500px;
    perspective: 10000;
    transform-style: preserve-3d;
    min-width: 0px;
    overflow: visible;
    transition: width 0.2s height 0.2s; }

  /* The front and the backside and the little tables */
  #pakete .box .front, #pakete .box .back, #pakete .box .responsive-tables [class*="little"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.7s;
    /* How long should the flipping be? */
    transform-origin: 50% 50%;
    background: #fff;
    border-radius: 5px; }

  #pakete .box .responsive-tables [class*="little"] {
    width: 47%; }

  #pakete .box .responsive-tables {
    display: block;
    width: 100%;
    height: 100%; }

  #pakete .front {
    display: none; }

  #pakete .box .responsive-tables [class*="little"] {
    transform: rotateY(0deg) translateX(250%);
    transform-origin: 0 0;
    transition: transform 0.6s, opacity 0.0s 0.4s;
    opacity: 0.0; }

  #pakete .box [class*="little"].active {
    transform: rotateY(0) translateX(0);
    transition: transform 0.6s;
    opacity: 1; }

  #pakete .box [class*="little"].activetwo {
    transform: rotateY(0) translateX(112.7659574%);
    transition: transform 0.6s;
    opacity: 1; }

  #pakete .box [class*="little"].last {
    transform: rotateY(0) translateX(-110%);
    transition: transform 0.6s opacity 0.0s 0.4s;
    opacity: 0.0; } }
@media only screen and (max-width: 768px) {
  #pakete .box {
    width: 90%;
    min-width: 0px; } }
@media only screen and (max-width: 533px) {
  /* Section Pakete */
  #pakete .box {
    position: relative;
    margin: 3% auto 0;
    width: 80%;
    height: 400px;
    perspective: 10000;
    transform-style: preserve-3d;
    min-width: 0px;
    overflow: hidden;
    transition: width 0.2s height 0.2s; }

  /* The front and the backside and the little tables */
  #pakete .box .front, #pakete .box .back, #pakete .box .responsive-tables [class*="little"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.7s;
    /* How long should the flipping be? */
    transform-origin: 50% 50%;
    background: #fff;
    border-radius: 5px; }

  #pakete .box .responsive-tables {
    display: block; }

  #pakete .front {
    display: none; }

  /* 3states of the little tables  */
  #pakete .box .responsive-tables [class*="little"] {
    transform: rotateY(0deg) translateX(150%);
    transform-origin: 0 0;
    transition: transform 0.6s, opacity 0.0s 0.4s;
    opacity: 0.0; }

  #pakete .box [class*="little"].active {
    transform: rotateY(0) translateX(0);
    transition: transform 0.6s;
    opacity: 1; }

  #pakete .box [class*="little"].activetwo {
    transform: rotateY(0) translateX(110%);
    transition: transform 0.6s;
    opacity: 1; }

  #pakete .box [class*="little"].last {
    transform: rotateY(0) translateX(-110%);
    transition: transform 0.6s opacity 0.0s 0.4s;
    opacity: 0.0; } }
#bizLogo {
  background-color: #ccc;
  width: 92px;
  height: 92px;
  position: absolute;
  top: 96px;
  left: 30px;
  border-radius: 50%;
  overflow: hidden;
  border: none; }

#bizLogo.my-client {
  background-color: #ccc;
  position: absolute;
  top: 96px;
  left: 0px;
  border-radius: 0;
  overflow: hidden;
  border: none;
  width: 97.5%;
  height: 113px;
  display: none; }

.account-business-wrap .row h3 {
  padding-left: 13px; }

.account-business-wrap .account-info-section h3 {
  margin-bottom: 30px; }

.login-input.select-box {
  margin-left: 13px !important;
  margin-bottom: 15px !important; }

#updateBusiness {
  margin: 28px 0px 0px 13px; }

.account-info-section a {
  display: block;
  width: 90%; }

.account-analytics-wrap table,
.account-my-analytics-wrap table,
.account-activity-wrap table {
  width: 100%; }

.account-analytics-wrap th,
.account-my-analytics-wrap th {
  padding-bottom: 10px;
  padding-top: 20px;
  text-align: center; }

.account-my-analytics-wrap tr:nth-child(even) {
  background-color: #F2F2F8; }

.account-analytics-wrap td,
.account-my-analytics-wrap td {
  padding-bottom: 13px;
  border: 1px solid #F2F2F8; }

.account-my-analytics-wrap td {
  padding-top: 13px; }

/*
#colophon.site-footer {
  height: 295px;
}*/
#footer-area ul li {
  border: none !important; }

footer ul li {
  text-align: left; }

.footer-nav-wrap {
  text-align: center; }

.footer-nav-wrap ul {
  display: inline-block; }

.footer-nav-wrap ul li {
  float: left;
  width: 100%;
  text-align: center; }

.footer-nav-wrap ul li a {
  padding: 0 20px;
  /*font-size: 18px;*/
  font-size: 14px;
  letter-spacing: .7px; }

.footer-social-wrap {
  display: inline-block; }

.footer-social-wrap ul li {
  float: left;
  padding: 0 10px; }

.footer-logo-wrap {
  padding: 40px 0; }

.footer-logo-wrap .logo {
  width: 166px;
  height: 50px;
  display: block;
  margin: 0 auto;
  background: transparent url(./img/footer-logo.svg) no-repeat center center;
  overflow: hidden;
  text-indent: -9999999px; }

.footer-nav-wrap {
  padding-bottom: 40px; }

.social li a {
  width: 30px;
  height: 30px;
  display: block;
  overflow: hidden;
  text-indent: -9999999px;
  background: url(./img/sprite-social.svg) no-repeat 0px 0px; }

.social li a.facebook {
  background-position: 9px 4px; }

.social li a.twitter {
  background-position: -24px 3px; }

.social li a.linkedin {
  background-position: -63px 3px; }

.home-section-discover .landing-copy-section {
  padding-bottom: 70px; }

#saveJob {
  margin-left: 15px;
  margin-top: 30px; }

.not-the-account-page {
  padding-top: 20px; }

#wpua-remove-existing,
#wpua-undo-existing,
#wpua-preview-existing {
  display: none !important; }

#wpua-add-existing {
  font-size: 12px !important; }

.submit {
  position: absolute;
  top: 110px;
  left: 400px; }

#wpua-thumbnail-existing {
  position: absolute;
  top: 110px;
  left: 28px; }

.account-business-wrap .account-info-section h3 {
  float: left; }

.account-business-wrap select.login-input.select-box {
  margin: 0 !important;
  margin-top: 6px !important; }

.pill.can-close::after, .can-close.eo-eb-filter::after, .can-close.eo-eb-filter::after {
  background: transparent url(./img/icon-close-x.svg) no-repeat 4px 11px; }

#anspress .ap-questions-tab > li.active a,
#anspress .ap-answers-tab > li.active a {
  color: #fff !important; }

.hero p {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 317px;
  font-size: 17px;
  line-height: 28px;
  padding-bottom: 27px; }

.hero {
  text-align: center !important; }

.wrap-hero .container.hero {
  position: relative; }

.wrap-hero .container.hero::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0px;
  left: 0px; }

.wrap-hero .container.hero h1,
.wrap-hero .container.hero p,
.wrap-hero .container.hero div {
  position: relative;
  z-index: 1;
  color: #fff !important; }

.hero-show-cats {
  height: auto !important;
  display: inline-block;
  padding-bottom: 120px; }

.edit-account-wrap .account-info-section {
  min-height: 300px; }

.edit-account-wrap #wpua-thumbnail-existing {
  top: 140px; }

.edit-account-wrap #wpua-add-existing {
  position: absolute;
  top: 150px;
  left: 160px; }

.edit-account-wrap .submit {
  top: 133px !important;
  left: 310px !important;
  padding: 18px 40px !important; }

.edit-account-wrap select.login-input.select-box {
  margin-left: 0 !important;
  margin-bottom: 0 !important; }

.pill.icon-close, .icon-close.eo-eb-filter {
  position: relative; }

.pill.icon-close::after, .icon-close.eo-eb-filter::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background-color: red;
  top: 14px;
  right: -2px;
  background: transparent url(./img/icon-close-x.svg) no-repeat 0px 0px; }

@media (min-width: 500px) {
  .hero-cats-wrap a {
    display: inline-block !important; } }
.hero-cats-wrap a.hidden {
  display: none !important; }

.bullets {
  margin-left: 9px !important; }

.bullets li {
  list-style-type: disc !important;
  padding-bottom: 15px; }

.about-page-wrap-content {
  padding-top: 20px;
  padding-left: 50px !important; }

.about-page-wrap-content h4 {
  margin-top: 30px; }

button.btn, button#eo-submit-search, button#event-board-more, button.uploadBtn, button#wpua-add-existing {
  color: #fff;
  background-color: #DF4F2A !important;
  padding: 15px 35px;
  border-radius: 50px;
  font-size: 16px;
  margin-top: 10px; }

.price-table-wrap button {
  margin: 0 auto;
  float: none; }

.price-table-wrap {
  width: 100%;
  padding-bottom: 30px; }

.entypo-left-dir {
  display: none !important; }

#bizLogo.client-logo {
  border-radius: 0;
  width: 91%;
  top: 170px; }

.client-info-section {
  height: 290px; }

.wrap-ad-details {
  padding: 20px;
  float: left; }

.caret {
  color: #fff !important; }

.eo-eb-filter.eo-eb-filter-on {
      text-decoration: line-through; }

.profile-page-wrap-content ol,
.profile-page-wrap-content ul,
.profile-page-wrap-content li {
  list-style-type: disc !important;
  margin-left: 8px;
  line-height: 30px; }

.btn, #eo-submit-search, #event-board-more, .uploadBtn, #wpua-add-existing {
  cursor: pointer; }

#post-335 .post-inner-content {
  padding-bottom: 120px; }

form.pmpro_form .pmpro_submit {
  margin-left: 0px !important; }

form.pmpro_form label {
  width: auto !important; }

#pmpro_account_loggedin {
  padding-left: 10px; }

.pmpro_thead-name {
  font-size: 20px;
  font-weight: 400; }

.account-business-wrap .account-info-section .account-avatar-section p {
  position: absolute;
  right: 34px;
  top: 44px; }

.learn-card .card-avatar {
  top: 115px;
  right: 10px; }

.learn-card {
  min-height: 265px; }

.learn-card .card-wrap-info {
  position: absolute;
  bottom: 20px; }

.post-inner-content {
  padding-top: 10px; }

.top-nav-list {
  padding-bottom: 15px; }

.price-table-wrap {
  height: 1390px; }

#pricing-table table {
  overflow: hidden;
  border: 1px solid #d3d3d3;
  background: #fefefe;
  width: 70%;
  margin: 5% auto 0;
  -moz-border-radius: 5px;
  /* FF1+ */
  -webkit-border-radius: 5px;
  /* Saf3-4 */
  border-radius: 5px;
  margin-bottom: 70px; }

th, td {
  padding: 18px 28px 18px;
  text-align: center; }

th {
  padding-top: 22px;
  background: #e8eaeb; }

td {
  border-top: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0; }

tr.odd-row td {
  background: #f6f6f6; }

td.first, th.first {
  text-align: left; }

td.last {
  border-right: none; }

/*
I know this is annoying, but we need dditional styling so webkit will recognize rounded corners on background elements.
Nice write up of this issue: http://www.onenaught.com/posts/266/css-inner-elements-breaking-border-radius

And, since we've applied the background colors to td/th element because of IE, Gecko browsers also need it.
*/
tr:first-child th.first {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  /* Saf3-4 */ }

tr:first-child th.last {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  /* Saf3-4 */ }

tr:last-child td.first {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  /* Saf3-4 */ }

tr:last-child td.last {
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  /* Saf3-4 */ }

.table-gray {
  width: 230px;
  display: block; }

.event-search-custom .type-event,
.event-search-custom .entry-header {
  min-height: 330px; }

#new-paging {
  float: left;
  padding-left: 15px; }

.eo-event-search ul li input, .search ul li select {
  padding-left: 20px !important;
  height: 42px; }

.search ul li select {
  border: 2px solid #E8E8E8; }

.eo-event-search ul li input.event-search-datepicker {
  width: 45%; }

#event_search_date_from {
  margin-right: 20px; }

#eo-submit-search {
  display: none; }

.eo-event-search {
  padding: 0 15px 30px; }

.searchEvents {
  margin-top: 25px; }

#new-paging {
  padding-bottom: 60px;
  width: 100%; }

#new-paging a,
#new-paging span {
  padding: 10px; }

.noLink.bg-red {
  background-color: #DF4F2A;
  color: #fff !important; }

.event-category select {
  box-shadow: none; }

.text-square-photo {
  position: absolute;
  right: 35px;
  top: 45px; }

#pmpro_pricing_fields,
#pmpro_pricing_fields p,
#pmpro_pricing_fields label {
  text-align: left !important; }

form.pmpro_form .input, form.pmpro_form textarea, form.pmpro_form select {
  float: left; }

#ExpirationYear {
  width: 90px;
  padding-left: 10px; }

#ExpirationMonth {
  width: 60px;
  margin-right: 10px; }

small {
  float: left; }

.pmpro_payment-account-number {
  padding-bottom: 10px; }

.pmpro_thead-name {
  float: left;
  width: auto; }

.pmpro_asterisk {
  float: left;
  display: block;
  text-align: left; }

form.pmpro_form div {
  padding-bottom: 30px !important; }






#wpua-upload-existing {
    position: absolute;
    top: 170px;
    left: 160px;
}

#wpua-upload-messages-existing {
  display: none;
}

#wpua-file-existing {
  color: #666;
  border: 2px solid #E8E8E8;
  position: absolute;
  height: 45px;
  margin: 0;
  padding-left: 20px;
  border-radius: 50px;
  width: 71%;
  right: 24px;
  background: #fff !important;
  font-size: 12px !important;
}

#wpua-upload-existing {
  font-size: 12px !important;
  overflow: hidden;
}

#wpua-file-existing:after {
  content: "Browse Files";
  position: absolute;
  display: block;
  width: 150px;
  height: 100%;
  background-color: #DF4F2A !important;
  color: #fff;
  top: 0px;
  right: 0px;
  border-radius: 50px;
  text-align: center;
  padding-top: 8px;
  font-size: 14px;
}

.sign-up-avatar-wrap .submit {
  padding: 0px !important;
  top: 171px !important;
  left: 300px !important;
}

.edu-content-inner ul,
.edu-content-inner ul li,
.profile-page-wrap-content ul,
.profile-page-wrap-content ul li {
  list-style: disc;
}

.edu-content-inner ol,
.edu-content-inner ol li,
.profile-page-wrap-content ol li,
.profile-page-wrap-content ol {
 list-style-type: decimal !important;
}

#submit {
  display: inline-block;
  padding: 20px 30px;
  border: none;
}

.btn-default {
  border: none;
}

.navbar-fixed-top {
  position: relative !important;
}



@media (min-width: 768px) {

  .edu-video-wrap {
    padding: 60px 60px 0 60px;
  }

}


#masthead {
  margin-bottom: 0 !important;
}


.edu-content-inner ul {
  margin-left: 18px;
}

.edu-content-inner p {
  margin: 20px 0 20px 0;
}





/*============================================ Events */

.card-img-event {
  background: #F4F4F8;
}

.event-price {
  background-color: #DF4F2A;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 4px;
}

.event-price ul li {
  color: #fff !important;
  font-size: 11px;
  padding: 5px 10px;
  letter-spacing: 0;
  font-weight: 600;
}

.currency-code {
  display: none;
}

.event-card {
  padding-bottom: 25px;
}

.event-card a {
  width: 100%;
  display: block;
}

.event-title {
  padding: 10px 0;
}

.event-date {
  font-size: 11px;
}

.card-info.event-venue {
    padding-bottom: 15px;
    display: block;
    float: left;
}

a.card-info.event-venue:hover {
  text-decoration: none !important;
}

.card-info.event-venue span {
  float: left;
  padding-right: 3px;
  display: block;
}

.card-info.event-venue br {
  display: none;
}

.event-cat {
  background-color: #AFAFAF;
  padding: 3px 8px;
  font-size: 11px;
  display: inline-block;
  border-radius: 4px;
  float: left;
}

.event-cat {
    color: #fff !important;
}

.event-cat a {
  color: #fff !important;
}

.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}


.event-header-img {
  min-height: 300px;
  width: 100%;
  float: left;
}

.event-content-inner .col-md-8 {
  float: left;
  padding: 10px 20px;
}

.event-content-inner .col-md-4 {
  float: left;
  padding: 10px 20px;
}



@media (min-width: 992px) {
  .event-content-inner .col-md-8 {
    padding: 30px 40px;
  }

  .event-content-inner .col-md-4 {
    padding: 30px 40px;
  }
}

.event-content-inner .col-md-8 .ee-status {
  display: none;
}

.ee-button.ee-register-button.ee-green {
  background: transparent; /* kill the grad */
  background-color: #DF4F2A !important;
  border-radius: 50px;
  padding: 16px 30px 15px;
}

.single-event-sidebar div {
  float: left;
  width: 100%;
  padding-bottom: 30px;
}

.single-event-sidebar .download-iCal-frm {
  display: none;
}

.event-side-bar-title {
  display: block;
  width: 100%;
  float: left;
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 10px;
}

.ee-event-datetimes-ul {
  padding-top: 20px;
}

.single-event-sidebar ul li strong {
  display: block;
}

/* June 7th 2016 */

#tkt-slctr-tbl-wrap-dv-600,
.tkt-slctr-tbl,
.spco-ticket-info-dv table,
.tckt-slctr-tkt-datetimes-sctn .tckt-slctr-tkt-details-tbl,
.ee-table,
.ee-table.ee-registrations-list,
.spco-payment-info-dv {
  border: 1px solid #e0e0e0;
}

.spco-ticket-info-dv table {
  width: 100%;
}

.tckt-slctr-tkt-datetimes-sctn .tckt-slctr-tkt-details-tbl {
  overflow-x: hidden;
}

#tckt-slctr-tkt-details-600-2-dv {
  border-top: 1px solid #e0e0e0;
  margin-top: 0px;
}

.edu-content-wrap #tckt-slctr-tkt-details-600-2-dv h3 {
  margin-top: 20px 0 30px 0;
}


.edu-content-wrap select,
.my-account-wrap select,
.loginForm select {
  color: #666;
  border: 2px solid #E8E8E8;
  border-radius: 8px;
  box-shadow: none;
  padding: 0px;
  position: relative;
  background-position: right;
}

.ee-button.ee-roundish {
  color: #fff !important;
  background-color: #DF4F2A !important;
  padding: 15px 35px;
  border-radius: 50px;
  font-size: 16px;
  margin-top: 10px; 
  background: #DF4F2A !important;
}


.ee-button.ee-roundish * {
  color: #fff !important;
  text-shadow: none;
  box-shadow: none !important;
}

#espresso-thank-you-page-overview-dv .jst-rght {
  text-align: center;
}

.ee-registration-details-dv .jst-rght  {
  text-align: left !important;
}

.ee-table.ee-registrations-list {
  width: 100%;
  margin-bottom: 10px;
}

/*============================================ Events ! */





/*============================================ Alerts */

.text-block-center {
  text-align: center;
  padding: 30px 0;
}

.text-block-center div {
  margin: 0 auto;
  float: none;
  max-width: 600px;
}

.section-new-alert select {
  margin-left: 0px !important;
  min-width: 100%;
  padding-right: 20px;
  padding-left: 11px !important;
  padding-top: 0px !important;
}

.section-new-alert .col-md-3 {
  padding-left: 0px !important;
  min-height: 50px;
}

/* Helper */
.x-left-padding {
  padding-left: 0;
}

.x-padding {
  padding: 0;
}


.section-new-alert {
  overflow: hidden;
  padding-right: 0;
}

.section-new-alert h3 {
  margin-top: 0;
}

.section-new-alert h5 {
  margin-top: 0px;
  display: block;
  width: 100%;
}

.alert-form-title {
  text-transform: uppercase;
  font-size: 12px;
}

/*============================================ Alerts ! */



/*============================================ Auto fill tooltip */

.ui-tooltip {
    background: #fff;
    color: #7B868D;
    border: none;
    border-bottom:1px solid #ccc;
    border-radius: 0px;
    box-shadow: 0 0;
    width:100%;
}

.ui-autocomplete {
    background: #fff;
    border-radius: 0px;
}

.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content {
  max-width: 350px !important;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

li.ui-menu-item {
  padding: 10px;
  border-bottom: solid 1px #EAEAEA;
}

li.ui-menu-item::last-child {
  border-bottom: none;
}

/*============================================ Auto fill tooltip  ! */




/* on the check out pages hide these things */
#spco-steps-big-hdr,
.spco-steps-big-hdr,
#spco-steps-display-dv,
.spco-steps-pg, 
.big-event-title-hdr {
  display: none;
}




/*@keyframes up-and-down {
  0% {
     transform: translate(0, 0);
  }
  50% {
     transform: translate(0px, -21px);
  }
  100% {
     transform: translate(0px, 0px);
  }
}*/



#msg.alert-fixed-bottom-hidden {
  position: fixed;
  bottom: -21px;
  left: 0px;
  display: block;
  width: 100%;
  z-index: 9999;
  /*animation: move s normal forwards ease-in-out;*/
}

/*@keyframes move {
  50% {
     transform: translate(0px, 100px);
  }
}*/


/*
.animate-up-and-down {
  animation: up-and-down 3s ease forwards;
}*/


  
.scx-card {
  background: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-bottom: 30px;
    overflow: hidden;
}

.kill-text-decoration a:focus, 
.kill-text-decoration a:hover {
  text-decoration: none !important;
}

.scx-card h3 {
  margin: 0;
  font-size: 20px;
}

.scx-card p {
  padding-top: 15px;
  padding-bottom: 5px;
}

.scx-card-copy {
  padding: 20px;
}

.sxc-card--min-height-385 {
  min-height: 370px !important;
}


.scx-card--full-image .full-image {
  position: relative;
}

.full-image {
  width: 100%;
  background-color: gray;
  min-height: 150px;
}






.scx-card--full-image .avatar {
  bottom: -20px;
}

.full-image .badge {
  position: absolute;
  top: 10px;
}






.avatar {
  display: block;
  overflow: hidden;
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: solid 2px red;
}

.avatar--left {
  left: 15px;
}

.avatar--right {
  right: 15px;
}




.scx-card--badge .badge {
  padding: 8px;
  border-radius: 5px;
}

.badge--red {
  background-color: #DF4F2A;
}

.badge--gray {
  background-color: #AFAFAF;
}

.badge--red *,
.badge--gray * {
  color: #fff;
}

.badge--left {
  left: 10px;
}

.badge--right {
  right: 10px;
}

.badge--icon i {
  padding-right: 5px;
}




.scx-card-info {
  width: 100%;
  float: left;
  padding-bottom: 20px
}

.scx-card-info ul {
  margin: 0;
  padding: 0;
}

.scx-card-info--list-left li {
  float: left;
  padding: 0 5px;
  font-size: 11px;
}

.scx-card-info--list-left li:first-child {
  padding-left: 0;
}
